/* -------------------
------ Colors --------
------------------- */
$blue: #3f7f9d;
$blue_light: #559cbe;
$blue_dark: #336b85;
$teal: #7dd1e1;
$teal_light: #64b6c5;
$purple_light: #852e72;
$purple: #6d235d;
$purple_rgb: 109, 35, 93;
$purple_dark: #5a194c;
$gold: #b7801b;
$gold_dark: #9f6e15;
$cream: #f2efcd;
$green: #898731;
$green_light: #a8a63e;
$red: #cc2b3f;

$gray: #726558;
$light_gray: #f0f0f0;

$white: #fff;
$black: #000;

$gray_light1: #f5f7fa;
$gray_light2: #e6e9ed;
$gray_light3: #f1f1f1;
$gray_medium1: #ccd1d9;
$gray_medium2: #aab2bd;
$gray_dark1: #656d78;
$gray_dark2: #434a54;

/* ------------------------
------ Breakpoints --------
------------------------ */
$tablet:            768px;
$desktop:           992px;
$desktop-large:     1200px;
