<div class="sg-text">
    <p class="intro-text">This an introduction text. It has a fixed size, and a custom line height, so you can experiment with it. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel egestas mauris. Nulla eget vehicula tortor. Aliquam metus dui, mollis sed neque vitae, tincidunt placerat tellus. Sed lobortis ullamcorper mattis. In ullamcorper vitae odio eget efficitur. Donec sit amet sodales quam. </p>
    <br>
    <a href="#">I'm a link, click me to see a new page!</a>
    <a class="purple" href="#">I'm a link, click me to see a new page!</a>
    <br>
    <small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat turpis elit, sed sodales est placerat sit amet. Quisque lobortis dui tortor, vel mattis ligula eleifend a. Aenean auctor volutpat urna, sit amet feugiat felis tristique vitae. Proin molestie vitae metus nec pellentesque. Nunc dapibus congue tellus, quis sagittis justo semper sed. Ut consequat commodo justo non venenatis. Vivamus at metus in mauris venenatis interdum.
    </small>

</div><!--end .text-->
<br>