<div class="brand-window-fallback">
    <div class="text">
        <div class="title">Great things are coming...</div>
        <div class="body"><p>Get in touch with us to get the latest news and updates on this home.</p></div>
        <a href="#gform_wrapper_4" class="modal-trigger button">Get Updates</a>
        <div class="modal-content">
            {{{coming_soon.modal_content}}}
        </div>
    </div>
</div>