<div class="brand-window-fallback">
    <div class="text">
        <div class="title">
            Great things are coming...
        </div>
        <div class="body">
            <p>
                Become a Boulder Creek Insider to be the first to know about news, updates and events.
            </p>
        </div>
        <a href="#gform_wrapper_5" class="modal-trigger button">Get Updates</a>
        <div class="modal-content">
            {{{brandwindow_fallback_form}}}
        </div>
    </div>
</div>