<div class="hidden_forms">
    {{#if request_info_form}}
        <div id="request_info_form" class="request-info-form">
            {{{request_info_form}}}
        </div>
    {{/if}}
    {{#if get_brochure_form}}
        {{> organisms/forms/get_brochure}}
    {{/if}}
    {{#if types}}
        <div class="product-type-data">
            {{#each types}}
                <span class="product-type">{{this}}</span>
            {{/each}}
        </div>
    {{/if}}
</div>