<div class="hidden_forms">
    {{#if get_updates_form}}
        <div id="get_updates_form">
            {{{get_updates_form}}}
        </div>
    {{/if}}
    {{#if request_info_form}}
        <div id="request_info_form">
            {{{request_info_form}}}
        </div>
    {{/if}}
</div>