<div class="section intro-text">
    <section>
        <div class="container">
            <div class="text">
                <div class="title">
                    <h2>{{title}}</h2>
                </div><!--/title-->
                <div class="body">
                    {{{description}}}
                </div><!--/body-->
            </div><!--/text-->
        </div><!--/container-->
    </section>
</div><!--/intro-text-->