<div class="modal" id="modal">
    <div class="modal-body"><a href='#' class="modal-close icon icon-exit-circle"></a>
        <div class="modal-body-inner">
            {{modal_content}}
        </div>
    </div>
</div>