.slider {
    position: relative;
    width: 100%;

    .pagination {
        display: none;

        @mixin desktop {
            display: block;
        }

        a {
            display: block;
        }
    }
}

.slides {
    padding: 0;
    position: relative;
    width: 100%;

    .slide {
        left: 100%;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        img {
            display: block;
            height: 100%;
            object-fit: none;
            object-position: bottom;
            width: 100%;
        }

        &:nth-child(1) {
            left: 0;
            opacity: 1;
            position: relative;

            @mixin desktop {
                position: absolute;
            }
        }
    }
}
