.tabs {
    .tab-bodies {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        line-height: normal;
    }

    .tab-body {
        position: relative;

        @mixin desktop {
            display: none;
            position: absolute;
        }

        &:first-child {
            display: block;
        }
    }
}
