<div class="section brand-window-404">
    <section>
        <div class="container">
            <div class="image">
                <div class="text">
                    <h1>Can't find your way?</h1>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section wysiwyg-block">
    <section>
        <div class="container">
            <div class="text">
                <h2>Let us help you.</h2>
                <ul>
                    <li><a href="/">Home Page</a>: Homes built to fit your lifestyle.</li>
                    <li><a href="/our-neighborhoods">Our Neighborhoods</a>: View our homes and where we build.</li>
                    <li><a href="/contact-us/ask-a-question">Contact Us</a>: Get in touch with us with any questions, we're here to help.</li>
                </ul>
            </div>
        </div>
    </section>
</div>
