<div class="page-wrapper">
    {{#each organisms }}
        {{#if brand-window}}
            {{> organisms/brand-window }}
        {{/if}}
        {{#if brand-window-secondary}}
            {{> organisms/brand-window-w-color-overlay }}
        {{/if}}
        {{#if brand-window-w-color-overlay}}
            {{> organisms/brand-window-w-color-overlay }}
        {{/if}}
        {{#if brand-window-w-content-box}}
            {{> organisms/brand-window-w-content-box }}
        {{/if}}
        {{#if brand-window-two-column}}
            {{> organisms/brand-window-two-column }}
        {{/if}}
        {{#if bullets-w-form}}
            {{> organisms/bullets-w-form }}
        {{/if}}
        {{#if intro-text}}
            {{> molecules/blocks/intro-text }}
        {{/if}}
        {{#if cta-w-image}}
            {{> organisms/cta-w-image }}
        {{/if}}
        {{#if cta-w-gallery}}
            {{> organisms/cta-w-gallery }}
        {{/if}}
        {{#if cards}}
            {{> organisms/cards }}
        {{/if}}
        {{#if feature-slider}}
            {{> organisms/feature-slider }}
        {{/if}}
        {{#if testimonial}}
            {{> organisms/testimonial }}
        {{/if}}
        {{#if contact-us-modules}}
            {{> organisms/contact-us-modules }}
        {{/if}}
        {{#if form-basic}}
            {{> organisms/form }}
        {{/if}}
        {{#if form-w-text}}
            {{> organisms/form-w-text }}
        {{/if}}
        {{#if icon-grid}}
            {{> organisms/icon-grid }}
        {{/if}}
        {{#if wysiwyg-block}}
            {{> organisms/wysiwyg-block }}
        {{/if}}
        {{#if post-grid}}
            {{> organisms/post-grid }}
        {{/if}}
        {{#if accordion}}
            {{> organisms/accordion }}
        {{/if}}
        {{#if masonry-gallery}}
            {{>organisms/masonry-gallery items=gallery_items }}
        {{/if}}
        {{#if circles-w-color-block-text}}
            {{> organisms/circles-w-color-block-text }}
        {{/if}}
        {{#if text-block-w-image}}
            {{> organisms/text-block-w-image }}
        {{/if}}
        {{#if photo-grid-w-title-caption}}
            {{> organisms/photo-grid-w-title-caption }}
        {{/if}}
        {{#if text-block-w-bgimage}}
            {{> organisms/text-block-w-bgimage }}
        {{/if}}
        {{#if conversion-point-w-modal-form}}
            {{> organisms/conversion-point-w-modal-form }}
        {{/if}}
        {{#if lp-intro-w-form}}
            {{> organisms/lp-intro-w-form }}
        {{/if}}
        {{#if two-column-w-images}}
            {{> organisms/two-column-w-images }}
        {{/if}}
        {{#if testimonial-grid}}
            {{> organisms/testimonial-grid }}
        {{/if}}
        {{#if slider-gallery}}
            {{> organisms/slider-gallery }}
        {{/if}}
    {{/each}}
</div>
