.hidden_forms {
    display: none;
}

.gform_wrapper {
    margin: 0;

    ul,
    ol {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        line-height: normal;
    }

    .gform_footer {
        text-align: center;
    }

    .gform_button {
        margin-left: auto;
        margin-right: auto;
    }
}

.gfield_error {
    .ginput_container {
        input,
        select {
            border: 1px solid $red;
        }
    }
}

.field,
.gfield {
    position: relative;
    margin-bottom: 20px;

    a {
        color: $blue;
    }

    &.hidden {
        display: none !important;
    }

    &.checkbox-group,
    &.vip-list-signup {
        margin-bottom: 30px;
        margin-top: 20px;

        label:not(.gfield_label) {
            font-size: 16px;
        }

        .gfield_label {
            color: $gray_dark1;
            position: relative;
            margin: 10px 0 15px;
            left: 0;
        }

        &.gfield_error .gfield_label {
            top: 0;
        }

        .gfield_checkbox li {
            float: none;
            display: block;
            margin: 0 0 6px;
        }
    }

    &.field-additional-info {
        p {
            font-size: 18px;
            line-height: 1.6;
            text-align: center;

            a {
                color: $blue;
            }
        }
    }

    @mixin tablet {
        &.checkbox-group {
            label:not(.gfield_label) {
                font-size: 18px;
            }

            .ginput_container .gfield_checkbox li {
                display: inline-block;
                margin: 0 0 9px;
                padding: 0 10px 0 0;
                float: left;
                width: 50%;
            }
        }
    }

    @mixin desktop {
        &.checkbox-group {
            .gfield_checkbox li {
                padding: 0 30px 0 0;
            }
        }
    }

    @mixin tablet {
        &.first-name,
        &.last-name {
            display: inline-block;
            margin-right: 10px;
            width: calc(50% - 10px);
        }

        &.last-name {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    @mixin tablet {
        &.first-name,
        &.last-name {
            display: inline-block;
            margin-right: 10px;
            width: calc(50% - 10px);
        }

        &.last-name {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .gfield_label {
        position: absolute;
        top: 3px;
        left: 5px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        margin: 5px;
        font-family: 'Open Sans';
        color: $gray_medium2;
        z-index: 1;
    }

    .ginput_container {
        input,
        textarea {
            width: 100%;
            height: 100%;
            padding: 34px 10px 12px;

            @mixin placeholder {
                letter-spacing: 3px;
            }
        }

        select {
            border-radius: 0;
            padding: 34px 10px 12px;
        }

        textarea {
            max-height: 200px;
            height: auto;

            &.small {
                height: 120px;
            }
        }

        .gfield_checkbox,
        .gfield_radio {
            @mixin clear;

            li {
                float: left;
                line-height: 1;
                margin-right: 10px;
            }

            input {
                display: none;
            }
        }
    }

    &.purple {
        background: $purple;

        .ginput_container_select {
            &::after {
                border-top-color: $white !important;
            }

            select {
                color: $white;

                option {
                    background: $purple;
                }
            }
        }
    }

    .container-select,
    .ginput_container_select {
        background-color: #fff;

        select {
            position: relative;
            appearance: none;
            width: 100%;
            height: 100%;
            padding-right: 50px;
            background: none;
            z-index: 1;

            &::-ms-expand {
                display: none;
            }
        }

        &::after {
            position: absolute;
            top: 50%;
            right: 10px;
            display: block;
            content: ' ';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid $black;
            margin-top: -4px;
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            content: ' ';
            border: 1px solid $gray;
            width: 40px;
            height: 100%;
        }
    }

    /* datepicker */
    .ginput_container_date {
        position: relative;

        &::after {
            background: url('../images/icon-calendar.png') no-repeat center center;
            background-size: 21px auto;
            border-left: 1px solid $gray;
            bottom: 0;
            content: '';
            display: block;
            height: 100%;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
        }
    }

    /* validation */
    .validation_message {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 700;
    }

    &.gfield_error {
        padding-top: 30px;

        .gfield_label {
            top: 33px;
        }

        .validation_message {
            color: $red;
            position: absolute;
            top: 0;
            background-color: #ebebeb;
            width: 100%;
            z-index: 2;

            &.instruction {
                z-index: 1;
            }
        }
    }
}

/* list field */
.gfield_list_container {
    width: 100%;

    .gfield_label {
        padding-right: 60px;
    }

    .gfield_list_group {
        position: relative;

        &:nth-child(n+2) {
            textarea {
                padding-top: 12px;
            }
        }
    }

    .gfield_list_cell {
        width: 100%;
    }

    .gfield_list_icons {
        vertical-align: top;
        width: 58px;
    }

    .add_list_item,
    .delete_list_item {
        background: $purple;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45% auto;
        border-radius: 8px;
        height: 33px;
        margin: 0 5px !important;
        opacity: 1;
        width: 36px;

        &:hover {
            background-color: $purple_light;
        }
    }

    .add_list_item {
        background-image: url('../images/add.png');
    }

    .delete_list_item {
        background-image: url('../images/remove.png');
    }
}

/* confirmation / validation */
.gform_confirmation_message,
.validation_error {
    border-radius: 4px;
    height: auto;
    min-height: 50px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0 0 20px;
    padding: 15px;
}

.gform_confirmation_message {
    background-color: $blue_light;
}

.validation_error {
    background-color: $red;
}

input[type=checkbox] + label,
input[type=radio] + label {
    font-family: 'Open Sans';
    color: $black;
}

.disabled + label::before {
    border: solid 1px #dcdcdc !important;
}

.disabled:checked + label {
    color: #dcdcdc;
}

.disabled:checked + label::before {
    background: #dcdcdc !important;
}

input[type=checkbox] {
    display: none;
}

/* to hide the checkbox itself */
input[type=checkbox] + label::before {
    display: inline-block;
    font-family: 'icomoon';
    color: $white;
    font-size: 12px;
}

input[type=checkbox] + label::before {
    margin-right: 5px;
    content: '\e914';
    text-align: center;
    padding-top: 1px;
    width: 15px;
    height: 15px;
    border: solid 1px $gray;
}

/* unchecked icon */
.gfield_radio li label {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio] + label::before {
    margin-right: 5px;
    content: ' ';
    text-align: center;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $gray_dark1;
    padding: 10px;
    box-shadow: inset 0 0 0 7px $white;
}

/* unchecked icon */
input[type=radio]:disabled + label::before {
    border-color: $gray_medium1;
}

input[type=radio]:checked:disabled + label::before {
    background: $gray_medium1;
    border-color: $gray_medium1;
    box-shadow: inset 0 0 0 7px $white;
}

input[type=radio]:checked + label::before {
    background: $blue_light;
    border-color: $blue_light;
}

/* checked icon */
input[type=checkbox]:checked + label::before {
    content: '\e914';
    background: $blue_light;
    border-color: $blue_light;
}

/* checked icon */
.input-container,
.ginput_container {
    input,
    select,
    textarea {
        font-size: 16px;
        line-height: 28px;
        padding: 0.313em 0;
        border: 1px solid $gray;
    }

    select {
        padding: 9px;
    }

    @mixin tablet {
        input,
        select,
        textarea {
            font-size: 24px;
        }
    }
}

.gform_wrapper {
    @mixin desktop {
        margin: 20px;
    }
}

.gform_body {
    @mixin clear;
}

.gform_footer {
    margin: 20px 0;
}

.gfield_label {
    font-weight: bold;
    margin: 0.625em 0 0.5em;
    display: block;

    @mixin clear;
}

.gfield_required {
    color: #790000;
    margin-left: 2px;
    display: inline-block;
}

/* reach local footer form */
#rl-email-container #rl-email {
    border: none;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 4px;
    width: 100%;

    @mixin tablet {
        margin-top: -300px;
        top: 50%;
        width: 450px;
    }

    #rl-email-form {
        text-align: center;

        input[type='text'],
        input[type='email'],
        input[type='tel'],
        textarea {
            width: 100%;
            height: 100%;
            margin: 3px 0 16px;
            padding: 12px 10px;
            font-size: 16px;
            line-height: 28px;
            border: 1px solid $gray;

            @mixin placeholder {
                letter-spacing: 3px;
            }
        }

        textarea {
            max-height: 200px;
            height: auto;
        }

        @mixin tablet {
            input[type='text'],
            input[type='email'],
            input[type='tel'],
            textarea {
                font-size: 24px;
            }
        }

        label.rl-email-label {
            color: $gray_medium2;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

            span {
                color: $red;
            }
        }

        .rl-button[type='button'],
        .rl-button[type='submit'] {
            appearance: none;
            background: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            color: $white;
            padding: 13px 30px;
            font-size: 16px;
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            font-family: 'Open Sans';
            cursor: pointer;
            text-align: center;
            text-shadow: none;
            position: relative;
            z-index: 1;
            color: #fff;
            margin-left: auto;
            margin-right: auto;
        }

        .rl-button[type=button] {
            @mixin button $gray_light2;

            background-color: $gray_light2;
            color: #000;

            &:hover {
                color: #000;
            }
        }

        .rl-button[type=submit] {
            @mixin button $purple;

            margin-right: 10px;
            background-color: $purple;
        }
    } /* #rl-email-form */
}

/* Modal Wrapper fancybox */
.contact-us-wrapper.fancybox-skin,
.request-info-wrapper.fancybox-skin,
.get-updates-wrapper.fancybox-skin {
    background-image: url('../images/form-bg-streetscape.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: $purple;
    border-radius: 0;
    padding: 15px !important;
    position: relative;

    @mixin tablet {
        padding: 45px 90px !important;
    }

    &::after {
        background-color: $purple;
        background-blend-mode: multiply;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.9;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .fancybox-inner {
        max-width: 100%;
    }

    .fancybox-outer {
        z-index: 2;
    }
}

.contact-us-wrapper.fancybox-skin,
.request-info-wrapper.fancybox-skin {
    background-color: $blue;

    @mixin tablet {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    &::after {
        background-color: $blue;
    }
}

.contact-us-form,
.request-info-form,
.get-updates-form {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;

    h4 {
        color: #fff;
        font-family: 'Open Sans';
        margin: 2px 0 8px;

        @mixin tablet {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 15px;
        }
    }

    p {
        color: #fff;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;

        @mixin tablet {
            font-size: 16px;
            line-height: 26px;
        }
    }

    .gfield:not(.gfield_html) {
        margin-bottom: 8px;

        @mixin tablet {
            lost-center: 100%;
        }
    }

    .gfield .gfield_label {
        color: #fff;
        left: initial;
        margin-top: 0;
        position: relative;
        right: initial;
        text-transform: initial;
        text-align: left;
        top: initial;

        @mixin tablet {
            @mixin column 1,3;

            align-items: center;
            display: flex;
            justify-content: flex-end;
            lost-column-cycle: 2;
            text-align: right;
        }
    }

    .gfield_required {
        color: #fff;
    }

    .gfield .ginput_container input,
    .gfield .ginput_container select,
    .gfield .ginput_container textarea {
        border: none;
        border-radius: 3px;
        font-size: 16px;
        line-height: initial;
        padding: 12px 20px;

        @mixin placeholder {
            letter-spacing: initial;
        }
    }

    .gfield .gfield_label + .ginput_container {
        @mixin tablet {
            @mixin column 2,3;

            lost-column-cycle: 2;
        }
    }

    /* drop down arrow/caret */
    .field .container-select::before,
    .field .ginput_container_select::before,
    .gfield .container-select::before,
    .gfield .ginput_container_select::before {
        border-bottom: none;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
        content: ' ';
        display: block;
        height: 0;
        position: absolute;
        right: 14px;
        text-decoration: none;
        top: 42px;
        width: 0;

        @mixin tablet {
            top: 18px;
        }
    }

    /* drop down arrow/caret */
    .field .container-select::after,
    .field .ginput_container_select::after,
    .gfield .container-select::after,
    .gfield .ginput_container_select::after {
        border-top-color: #fff;
        border-left-width: 6px;
        border-right-width: 6px;
        border-top-width: 6px;
        margin-top: 0;
        right: 15px;
        top: 42px;

        @mixin tablet {
            top: 18px;
        }
    }

    .ginput_container_checkbox {
        text-align: left;

        label {
            color: #fff;
            font-size: 14px;
        }
    }

    .field.checkbox-group label:not(.gfield_label),
    .gfield.checkbox-group label:not(.gfield_label) {
        font-size: 14px;
    }

    input[type=checkbox] + label::before,
    input[type=checkbox]:checked + label::before {
        background: #fff;
        border-color: #fff;
    }

    input[type=checkbox]:checked + label::before {
        color: #000;
    }

    .field.gfield_error .validation_message,
    .gfield.gfield_error .validation_message {
        background-color: transparent;
        flex: 1 1 auto;
        margin-top: 4px;
        position: relative;
        text-align: left;
        top: initial;
        width: 100%;
        z-index: 0;

        @mixin tablet {
            @mixin column 2,3;

            lost-offset: -1/3;
        }
    }

    .gfield.gfield_error {
        padding-top: 0;
    }

    .gform_footer {
        margin: 0;
    }

    .gform_wrapper .gform_button {
        background-color: $yellow;
        border: 0;
        border-radius: 0;
        color: #000;
        padding-left: 75px;
        padding-right: 75px;
        text-transform: uppercase;

        &:hover,
        &:active {
            border: none;
            box-shadow: none;
        }
    }
}
