html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Merriweather';
    line-height: normal;
    color: $gray;
    height: 100%;
    min-height: 100%;
}

body {
    overflow: visible;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#site-wrapper {
    @mixin clear;

    display: block;
    width: 100%;
    overflow: visible;
    position: relative;
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.section.container {
    position: relative;
}

.section {
    position: relative;
}

.icon {
    display: inline-block;
}

/* ----------------------------------------------------------
COLORS
----------------------------------------------------------- */

.purple {
    color: $purple;
}

.dark_blue {
    color: $dark_blue;
}
