.page-id-181 {
    .sg-title {
        width:100%;
        color:$white;
        padding:20px;
        margin:0 0 10px;

    }
    .sg-text {
        width:50%;
        clear:both;
        @mixing clear;
        a {
            font-weight:600;
            font-family:"Merriweather";
            text-decoration:underline;
            display:block;
            color:$blue;
            &:hover {
                color:$blue_light;
            }
            &.purple {
                color:$purple;
                &:hover {
                    color:#aa5f9a;
                }
            }
        }
    }
    h1.sg-title {
        background: $gray;
        font-size:20px;
    }
    h2.sg-title {
        background: $light_gray;
        color:$blue;
        font-size:16px;
    }
    h3.sg-title {
        background: $blue_light;
    }

    .sg-titles {
        width:100%;
        h1, h2, h3, h4, h5, h6 {
            width:100%;
            margin-bottom:20px;
        }
    }
    .sg-buttons {
        @mixin clear;
            padding:20px;
        .button {
            margin-right:20px;
        }
    }

    .sg-colors {
        display:flex;
        flex-wrap:wrap;
        li {
            @mixin cycle 4;
            @mixin column 1, 4;
            border-radius:5px;
            overflow:hidden;
            box-shadow: 0 3px 0px $light_gray;
            @mixin clear;
            margin-bottom:30px;
        }

        .sg-swatch {
            float:left;
            display:block;
            width:50%;
            height:75px;

        }
        .sg-label {
            clear:both;
            display:block;
            float:none;
            font-weight:bold;
        }

        .text {
            @mixin clear;
            padding:10px;
            clear:both;
        }
    }
    .sg-buttons {
        .purple-bg {
            background:$purple;
            padding:20px;
            display:inline-block;
            .button {
                margin:0px;
            }
        }
    }
    .form-w-text {
        margin-bottom:60px;
    }
}