/* ----------------------------------------------------------
LOST GRID MIXINS
----------------------------------------------------------- */

@define-mixin column $numerator, $denominator, $gutter: '', $cycle: '' {
    lost-column: $(numerator)/$(denominator) $(gutter) $(cycle);
}

@define-mixin cycle $number {
    lost-column-cycle: $(number);
}

@define-mixin row $numerator, $denominator {
    lost-row: $(numerator)/$(denominator);
}

@define-mixin clear {
    clear: both;
    lost-utility: clearfix;

    &::before,
    &::after {
        clear: both;
        content: '';
        display: block;
    }
}

@define-mixin offset $numerator, $denominator, $direction {
    lost-offset: $(numerator)/$(denominator) $(direction);
}

@define-mixin container {
    lost-center: 100%;

    @mixin tablet {
        lost-center: 740px;
    }

    @mixin desktop {
        lost-center: 960px;
    }

    @mixin desktop-large {
        lost-center: 1160px;
    }
}

/* ----------------------------------------------------------
BREAKPOINT MIXINS
----------------------------------------------------------- */

@define-mixin desktop-large $type: min {
    @media ($(type)-width: $(desktop-large)) {
        @mixin-content;
    }
}

@define-mixin desktop $type: min {
    @media ($(type)-width: $(desktop)) {
        @mixin-content;
    }
}

@define-mixin tablet $type: min {
    @media ($(type)-width: $(tablet)) {
        @mixin-content;
    }
}

html,
body {
    &::before {
        content: 'mobile';
        display: none;

        @mixin tablet {
            content: 'tablet';
        }

        @mixin desktop {
            content: 'desktop';
        }
    }
}

.desktop {
    display: none;

    @mixin tablet {
        display: none;
    }

    @mixin desktop {
        display: block;
    }
}

.tablet {
    display: none;

    @mixin tablet {
        display: block;
    }
}

.mobile {
    display: block;

    @mixin tablet {
        display: none;
    }
}

.portables {
    display: block;

    @mixin desktop {
        display: none;
    }
}

/* ----------------------------------------------------------
LOST GRID MIXINS
----------------------------------------------------------- */

@define-mixin arrow $color, $size {
    &::after {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-width: $size $size 0 $size;
        content: ' ';
        display: block;
        height: 0;
        left: 50%;
        margin-left: -$size;
        position: absolute;
        top: 100%;
        width: 0;
        z-index: 2;
    }
}

/* ----------------------------------------------------------
BUTTON / HOVER MIXINS
----------------------------------------------------------- */

@define-mixin button $color {
    background: $color;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow:
            0 0 0 4px $(color),
            inset 0 0 0 3px $white;
        color: #fff;
    }
}

@define-mixin button_reversed $color {
    background: $white;
    color: $color;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow:
            0 0 0 4px $white,
            inset 0 0 0 3px $(color);
        color: $color;
    }
}

@define-mixin hover $color {
    box-shadow:
        0 0 0 4px $(color),
        inset 0 0 0 3px $white;
    color: #fff;
    transition: box-shadow 0.2s;
}

@define-mixin hover_reversed $color {
    box-shadow:
        0 0 0 4px $white,
        inset 0 0 0 3px $color;
    color: $color;
    transition: box-shadow 0.2s;
}

/* stylelint-disable selector-no-vendor-prefix */
@define-mixin placeholder {
    &::-webkit-input-placeholder {
        @mixin-content;
    }

    &:-moz-placeholder { /* older Firefox */
        @mixin-content;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        @mixin-content;
    }

    &:-ms-input-placeholder {
        @mixin-content;
    }
}
/* stylelint-enable */
