<div class="info-window">
    <a href="#" class="infowindow-close icon icon-exit-circle"></a>
    <div class="contents">
        <h5>{{title}}</h5>
        {{#if secondary}}
            <p>{{{secondary}}}</p>
        {{/if}}
    </div>
</div>
