<div class="section neighborhood-overview">
    <article>
        {{>molecules/blocks/filters}}
        <section>
            {{>organisms/map-overview}}
            <div class="container product-listings-container">
                {{>organisms/product-listings-column}}
            </div>
        </section>
    </article>
</div>
