{{!-- Purple --}}
<div class="sg-buttons" style="">
    <a class="button">
        Button
    </a>

    <a class="button blue">
        Button
    </a>

    <a class="button gold">
        Button
    </a>

    <a class="button green">
        Button
    </a>
    <div class="purple-bg">
        <a class="button reversed">
            Button
        </a>
    </div>

</div>