<div class="container">
    <h1 class="sg-title">Atoms</h1>

    <h2 class="sg-title">Colors</h2>
    {{> atoms/global/colors}}
    <h2 class="sg-title">Buttons</h2>
    {{> atoms/buttons/cta}}
    <h2 class="sg-title">Text</h2>
    {{> atoms/text/headings}}
    {{> atoms/text/inline}}
    {{> atoms/text/paragraph}}

    <h2 class="sg-title">Forms</h2>
    {{> atoms/forms/sample}}


</div>

<div class="container">
    <h1 class="sg-title">Organisms</h1>
</div>
{{> templates/organisms}}
