
.sprite {
  background-image: url('../images/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite {
    background-image: url('../images/sprite@2x.png');
    background-size: 249px 576px;
  }
}

.sprite-breadcrumb-seperator {
  background-position: -0px -0px;
  width: 22px;
  height: 44px;
}
.sprite-bcn-logo-mobile {
  background-position: -0px -44px;
  width: 55px;
  height: 63px;
}
.sprite-email-icon {
  background-position: -0px -107px;
  width: 66px;
  height: 63px;
}
.sprite-bcn-logo {
  background-position: -0px -170px;
  width: 249px;
  height: 76px;
}
.sprite-email-signup-icon {
  background-position: -0px -246px;
  width: 76px;
  height: 76px;
}
.sprite-pdf-icon {
  background-position: -0px -322px;
  width: 116px;
  height: 114px;
}
.sprite-the-lakes {
  background-position: -0px -436px;
  width: 232px;
  height: 140px;
}
