<div class="section alternating-content">
    <section>
        <div class="container">
            {{#each items}}
                <div class="item">
                    {{>molecules/blocks/cta-block}}
                    <div class="image">
                        <img src="{{image}}" alt="">
                    </div>
                </div>
            {{/each}}

        </div>
    </section>
</div>