<div class="section brand-window-w-gradient">
    <section>
        <div class="container">
            <div class="text">
                <h1>{{title}}</h1>
                <div class="body">
                    {{{description}}}
                    {{#if secondary_copy}}
                    <div class="secondary">
                        {{{secondary_copy}}}
                    </div>
                    {{/if}}
                </div><!--/body-->
            </div><!--/text-->
        </div><!--/container-->
    </section>
</div><!--/brand-window-w-gradient-->