<div id="{{id}}" class="section brand-window-w-content-box">
    <section>
        <div class="container">
            <div class="image">
                <figure>
                    <img src="{{image}}" alt="" />
                </figure>
            </div><!--/image-->
            {{#if description}}
            <div class="text">
                <div class="body">
                    {{{description}}}
                </div>
            </div>
            {{/if}}
        </div>
    </section>
</div><!--/brand-window-w-content-box-->