<div class="campaign-header" id="header">
    <div class="header-body">
        <div class="osc-phone-mobile">
            <p>Call us for pricing: <a href="tel:{{osc_phone}}">{{osc_phone}}</a></p>
        </div>
        <div class="container">
            <a class="logo" id="logo" href="#">
                <div class="tablet desktop sprite sprite-bcn-logo"></div>
                <img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/bcn-logo-mobile.png" alt="" class="mobile">
                <!--Boulder Creek-->
            </a>
            <div class="osc-phone">
                <p>Call us for pricing</p>
                <p class="number">{{osc_phone}}</p>
            </div>
        </div><!--/container-->
    </div>
</div><!--/header-->
