<div class="campaign-footer" id="footer">
    <div class="container">
        <div class="osc-contact">
            <img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/campaign-footer-osc-photo.png" alt="" class="osc-photo">
            <h2>Questions? We’re here to help.</h2>
            <p class="number">{{osc_phone}}</p>
            <p><a href="mailto:hello@livebouldercreek.com">hello@livebouldercreek.com</a></p>
        </div>
        <div class="copyright">&copy; {{year}} Boulder Creek Brands LLC<br> Boulder Creek Neighborhoods&trade; is a licensed trademark and tradename of Boulder Creek Brands LLC, a Colorado limited liability company.</div>
    </div><!--/container-->
</div><!--/footer-->