<div id="{{id}}" class="section conversion-point-w-modal-form">
    <section>
        <div class="container">
            <div class="body">
                <div class="title"><h4>{{title}}</h4></div>
                <div class="form-button">
                    <a href="#formModal" class="button blue modal-trigger">
                        {{button_text}}
                    </a>
                </div>
            </div>
        </div><!--/container-->
    </section>
</div><!--/conversion-point-w-modal-form-->