<div class="section cta-get-updates">
    <section>
        <div class="container">
            <div class="image">
                <figure>
                    <a href="/campaigns/get-updates/">
                        <img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/cta-get-updates_denver.jpg" class="desktop" alt=" ">
                        <img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/cta-get-updates_denver_mobile.jpg" class="mobile" alt=" ">
                    </a>
                </figure>
            </div>
        </div>
    </section>
</div>
