<div id="{{id}}" class="section cta-w-image">
    <section>
        <div class="container">
            <div class="image">
                <figure>
                    {{#if button}}<a href="{{link}}" >{{/if}}
                        <img src="{{image}}" alt="" />
                    {{#if button}}</a>{{/if}}
                </figure>
            </div><!--/image-->
            {{> molecules/blocks/cta-block}}
        </div><!--/container-->
    </section>
</div><!--/cta-w-image-->