{{#if features}}
    <div class="section feature-bar">
        <div class="feature-bar-title">
            <h2>Lifestyle Features</h2>
        </div> <!-- feature-bar-title -->
        <div class="container">
            <div class="feature-bar-wrapper group">
                {{#each features}}
                    <div class="feature-bar-item">
                        <div class="feature-bar-image">
                            <img src="{{image}}" alt="" />
                        </div> <!-- feature-bar-image -->
                        <div class="feature-bar-body">
                            <h2>{{feature}}</h2>
                            <p>{{description}}</p>
                        </div> <!-- feature-bar-body -->
                    </div> <!-- feature-bar-item -->
                {{/each}}
            </div><!-- feature-bar-wrapper group-->
        </div>
    </div> <!-- feature-bar -->
{{/if}}