<div id="{{id}}" class="section form-w-text">
    <section>
        <div class="container">
            <div class="text">
                <div class="icon sprite sprite-email-signup-icon"></div>
                <div class="title"><h2>{{title}}</h2></div>
                <div class="description">
                    <p>Including early access to pricing, new home plans and VIP events <a href="#email-signup-modal" data-modal="email-signup" class="modal-trigger">what’s this?</a></p>
                </div>
            </div>
            <a href="#email_form" class="button fancy-trigger">
                Get Updates
            </a>
            <div id="email_form" class="form">
                {{{gform}}}
            </div>
        </div>
    </section>
</div><!--/form-w-text-->