<div id="{{id}}" class="section icon-grid">
    <section>
        <div class="container">
            <ul>
                {{#each item}}
                    <li>
                        <a href="{{link}}">
                            <span class="image icon {{icon}}">

                             </span>
                            <div class="text">{{title}}</div>
                        </a>
                    </li>
                {{/each}}

            </ul>
        </div><!--/container-->
    </section>
</div><!--/icon-grid-->