<div class="section join-team">
    <section>
        <div class="container">
            <div class="cta-wrapper">
                <div class="inner">
                    <h2>Let&rsquo;s Keep in Touch</h2>
                    <p>We work hard to bring lifefullness&reg; to our homeowners, our employees, and our community. If you&apos;re interested in joining the team, check our careers page for open positions.</p>
                    <a href="/career-opportunities/" class="button reversed">See Open Positions</a>
                </div>
            </div>
        </div>
    </section>
</div>
