<div class="map-wrap">
    <script type="text/template" id="info-window-template">
        <div class="info-window">
            <a href="#" class="infowindow-close icon icon-exit-circle"></a>
            <div class="contents">
                <img src="http://fpoimg.com/180x115?text=LOGO" class="logo" />
                <h5><%= title %></h5>
                <p><%= description %></p>
                <a href="#" class="map-directions">Get Directions</a>
            </div>
            <a href="#" class="more">Explore The Lakes at Centerra&nbsp;&raquo;</a>
        </div>
    </script>
    <div class="map google-map-wrapper overview-map">
        <div class="google-map js-model-map"
             data-options='{"center":{ "lat": 40.4076112, "lng": -105.0960272 }, "zoom": 14 }'
             data-test='{"markers":[{"type": "neighborhoods", "pins":[{ "id": 1, "title": "Loveland, Colorado", "description": "Patio Homes & Townhomes from the $320s", "position": {"lat":40.4076112, "lng":-105.0960272 }, "link":"http://www.google.com/maps/place/40.4076112,-105.0960272" }]}]}'
             data-mappins='{"markers":[{ "id": 1, "title": "Loveland, Colorado", "description": "Patio Homes & Townhomes from the $320s", "position": {"lat":40.4076112, "lng":-105.0960272 }, "link":"http://www.google.com/maps/place/40.4076112,-105.0960272" }]}'>
        </div>
    </div>
</div>