<div class="section masonry-gallery">
    <section>
        <div class="container">
            {{#if items}}
                <ul class="masonry-items">
                    {{#each items}}
                        <li class="masonry-item image">
                            <a class="fancybox-masonry" rel="masonry-gallery" href="{{image}}">
                                <img src="{{image}}" alt="">
                                <span class="icon icon-zoom-in"></span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </section>
</div>