<div class="section masonry-gallery">
    <ul class="masonry-items">
        <li class="masonry-item image">
            <a href="">
                <img src="" alt="">
            </a>
        </li>
        <li class="masonry-item video">
            <a href="">
                <img src="" alt="">
            </a>
        </li>
    </ul>
</div>