<div class="section osc-request-info">
    <section>
        <div class="container">
            {{>molecules/blocks/osc-image}}
            <div class="text">
                <div class="title">
                    <h3>Curious about this home?</h3>
                </div>
                <div class="body">
                    <p>
                        Whether you're just getting started or ready to schedule a tour, our online team is here to help.
                    </p>
                    <a class="modal-trigger"  href="#gform_wrapper_4">Get in touch about this home &raquo;</a>
                    <div class="modal-content">
                        {{{osc_form}}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>