<div class="listings-wrap product-tabs">
    <div class="tab-header-wrap">
        <div class="tab-header">
            {{#each tabs}}
            <div class="product-tab-header">
                <h2>{{title}}</h2>
                <p>{{copy}}</p>
            </div>
            {{/each}}
        </div>
        <div class="product-tab-links">
            <ul>
                {{#each tabs}}
                    <li class="tab {{#if @first}}active{{/if}}"><a href="#">{{tab_title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <ul class="product-tab-bodies">
        {{#each tabs}}
            <li class="tab-body">
                {{!--- THIS IS FOR NEIGHBORHOODS--}}
                {{#if products}}
                    <ul>
                        {{#each products}}
                            {{> molecules/blocks/overview-card.handlebars}}
                        {{/each}}
                    </ul>
                {{/if}}
                {{!-- THIS IS FOR QMI & MODELS --}}
                {{#if neighborhoods}}
                    <ul>
                        {{#each neighborhoods}}
                            <li>
                                <h3><span>{{title}}</span></h3>
                                <ul>
                                    {{#each products}}
                                        {{> molecules/blocks/overview-card.handlebars}}
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
        {{!-- TODO: Move this out of here --}}
        <li class="more">
            <a href="#" class="button purple">See Quick Move-ins</a>
            <a href="#" class="button purple">See Model Homes</a>
        </li>
    </ul>
</div><!--/listings-wrapper-->
