<div class="section site-map">
    <section>

        <a target="_blank" href="{{site_map_pdf}}">
            <div class="container">
                <div class="image">
                    <img src="{{site_map_thumbnail}}" alt="{{post_title}} Lot Map">
                </div>
                <span class="title">Explore Homesites at {{post_title}} &raquo;</span>

            </div>
        </a>

    </section>
</div>