<div class="section upcoming-event">
    <section>
        <div class="container">
            <div class="text">
                <div class="title">
                    <h4><span class="icon icon-events"></span> Join Us for an Upcoming Event!</h4>
                </div>
                <a class="button light-green" href="{{upcoming_event_url}}">Get Event Details</a>
            </div>
        </div>
    </section>
</div>
