{{#if virtual_tour}}
    <div class="section virtual-tour">
        <section>
            <div class="container">
                <h2>Take a Virtual Tour of the {{post_title}}</h2>
                {{{virtual_tour}}}
            </div>
        </section>
    </div>
{{/if}}
