{{#if virtual_tour}}
    <div class="section virtual-tour">
        <section>
            <div class="container">
                <h2>Take a Virtual Tour of the {{post_title}}</h2>
                {{{virtual_tour}}}
                {{#if pdf}}
                    <a class="button yellow fancy-trigger" data-wrapclass="get-brochure-wrapper" data-width="415" href="#get_brochure_form">Get Brochure</a>
                {{/if}}
            </div>
        </section>
    </div>
{{/if}}
