<div class="section wysiwyg-block {{#if remove_padding}}remove-padding{{/if}}">
    <section>
        <div class="container">
            <div class="text">
                {{{description}}}
            </div>
        </div>
    </section>
</div>