.section.brand-window {
    z-index: 1;

    .image,
    .title,
    h1,
    .body,
    .button {
        opacity: 0;
        position: relative;
    }

    & + .section:not(.contact-us-modules) .container {
        @mixin tablet {
            padding-top: 75px;
        }

        @mixin desktop {
            padding-top: 150px;
        }
    }

    .container {
        position: relative;
        max-width: 100%;

        @mixin desktop {
            @mixin container;

            height: 415px;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        left: 0;

        img {
            width: 100%;
        }

        @mixin tablet {
            overflow: hidden;
            position: absolute;
            height: calc(100% + 100px);

            img {
                width: 100%;
            }
        }
    }

    .text {
        left: auto;
        z-index: 1;
        padding: 20px 15px;

        @mixin desktop {
            @mixin column 18, 24;
            @mixin offset -1, 12;
            @mixin offset -1, 24, column;
        }

        h1 {
            font-size: 32px;
            margin-bottom: 15px;
            color: $blue_light;

            @mixin tablet {
                font-size: 36px;
                text-shadow: 2px 0 0 $black;
                color: $white;
            }

            @mixin desktop {
                font-size: 46px;
            }
        }

        button {
            clear: both;
            display: block;
            margin: 20px 0;
        }

        .body,
        p {
            font-family: 'Open Sans';
            font-size: 18px;
            color: $gray_dark1;
            line-height: 36px;
            font-weight: 600;

            @mixin tablet {
                font-size: 24px;
                color: $white;
                text-shadow: 1px 0 0 $black;
            }
        }
    }
}
