.section.photo-grid-w-title-caption {
    padding: 30px 0;

    .container {
        padding: 0 30px;

        @mixin tablet {
            padding: 0;
        }
    }

    .text {
        text-align: center;
        width: 100%;
    }

    .section-body {
        margin: 20px 0 0;
    }

    .section-button {
        text-align: center;
        margin: 45px auto 0;
        width: 100%;

        p {
            font-size: 18px;
        }

        .button {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .items {
        @mixin container;
    }

    .item {
        margin: 30px 0 0;
        text-align: center;

        @mixin tablet {
            margin: 45px 0 0;
        }

        .image {
            img {
                display: block;
                height: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }

        .body {
            padding: 0 15px;

            h3 {
                margin-bottom: 5px;
                text-transform: none;
            }

            p {
                font-family: 'Open Sans';
                font-size: 18px;
                line-height: 1.5;
            }
        }

        .title {
            margin: 10px 0 0;

            @mixin tablet {
                margin: 20px 0 0;
            }
        }
    }

    @mixin tablet {
        .item {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;

            &:nth-child(odd) {
                padding-right: 15px;
            }

            &:nth-child(even) {
                padding-left: 15px;
            }

            .body {
                padding: 0 30px;
            }
        }
    }

    @mixin desktop {
        padding: 75px 0;

        .container {
            padding: 0;
        }

        .item {
            .body {
                padding: 0 45px;
            }
        }
    }
}
