.section.virtual-tour {
    background: $purple_light;
    text-align: center;

    iframe {
        height: 225px;
        width: 100%;

        @mixin tablet {
            height: 500px;
        }

        @mixin desktop {
            height: 700px;
        }
    }

    .container {
        padding: 30px;
        justify-content: center;
        text-align: center;

        @mixin tablet {
            padding: 60px;
        }
    }

    .button {
        margin: 40px 0 0;
    }

    h2 {
        color: $white;
        display: block;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    & + .floorplan-stats {
        .container {
            padding-top: 0;
        }
    }
}
