<div class="section alternating-content">
    <section>
        <div class="container">
            {{#each items}}
                <div class="item" id="{{id}}">
                    {{>molecules/blocks/cta-block}}
                    <div class="media">
                        {{#if video_embed}}
                            <div class="embed-container">
                                {{{video_embed}}}
                            </div>
                        {{else}}
                            <img src="{{image}}" alt="">
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</div>