<div id="{{id}}" class="section cards {{#if has_background}}has-background{{/if}}">
    <section>
        <div class="container">
            {{#each item}}
                {{item.title}}
                {{> molecules/blocks/card}}
            {{/each}}
        </div><!--/contianer-->
    </section>
</div><!--/cards-->