<div class="section cta-get-updates">
    <section>
        <div class="container">
            <div class="image">
                <figure>
                    <a href="/campaigns/get-updates/">
                        <img src="/wp-content/uploads/2018/05/Get_updates-new-homes-denver.jpg" class="desktop" alt=" ">
                        <img src="/wp-content/uploads/2018/05/Get_updates-new-homes-denver-mobile.jpg" class="mobile" alt=" ">
                    </a>
                </figure>
            </div>
        </div>
    </section>
</div>
