<div id="{{id}}" class="section cta-w-gallery">
    <section>
        <div class="container">
            {{> molecules/blocks/mini-gallery}}
            {{> molecules/blocks/cta-block}}
        </div><!--/container-->
    </section>
</div><!--/cta-w-gallery-->