<div class="header" id="header">
    <div class="header-body">
        <div class="container">
            <a href="/" class="logo" id="logo">
                <div class="tablet desktop sprite sprite-bcn-logo"></div>
                <img src="/wp-content/themes/atom-child/assets/build/images/bcn-logo-mobile.png" alt="" class="mobile">
                <!--Boulder Creek-->
            </a>
            <a href="#" id="trigger" class="menu-trigger">
                <div class="closed">
                    <span class="desktop">Explore the menu</span>
                    <span class="portables">Menu</span>
                </div>
                <div class="open">
                    <div class="desktop icon icon-exit-circle">Close</div>
                </div>
            </a>
            <a href="/contact-us/warranty-services/" class="warranty-request"><span class="icon icon-wrench"></span>Warranty Service</a>
        </div><!--/container-->
    </div>
</div><!--/header-->
{{> molecules/blocks/breadcrumbs}}
