<div id="{{id}}" class="section inset-message">
    <section>
        <div class="container">
            <div class="text">
                {{{description}}}
            </div>
        </div>
    </section>
</div>
