<div id="{{id}}" class="section wysiwyg-block{{#if remove_padding}} remove-padding{{/if}}{{#if background_color}} bg-{{background_color}}{{/if}}{{#if max_width}} width-{{max_width}}{{/if}}">
    <section>
        <div class="container">
            <div class="text">
                {{{description}}}
            </div>
        </div>
    </section>
</div>