<div class="brand-window-fallback">
    <div class="text">
        <div class="title">Great things are coming...</div>
        <div class="body"><p>Get in touch with us to get the latest news and updates on this home.</p></div>
        <a href="#request_info_form" class="modal-trigger button">Get Updates</a>
    </div>
</div>