<div class="breadcrumb-outer-wrapper" data-overview-map-breadcrumbs="{{breadcrumbs.productOverviewJSON}}">
    <div class="container">
        <ul class="breadcrumb">
            {{#breadcrumbs}}
                <li><a  href="{{link}}"><span class="{{class}}">{{title}}</span></a></li>
            {{/breadcrumbs}}
            <li></li>
        </ul>
    </div> <!-- breadcrumb-inner-wrapper -->
</div> <!-- breadcrumb-wrapper -->