<div class="card">
    <a href="{{link}}">
        <div class="image">
            <figure>
                <img src="{{image}}" alt="">
            </figure>
        </div><!--/image-->
        {{> molecules/blocks/cta-nolink}}
    </a>
</div><!--/card-->