<div class="gallery-wrapper">
    <ul class="elevations-gallery">
        {{#each elevations_gallery}}
            <li class="slide">
                <img src="{{url.full}}" />
                {{#if caption}}
                    <p class="image-gallery-caption">{{caption}}</p>
                {{/if}}
            </li>
        {{/each}}
    </ul> <!-- elevations-gallery -->
</div><!--/gallery-wrapper-->