<div class="filters" id="filters">
    <div class="container">
        <a href="#" class="filter-toggle icon icon-slider-next">Show Filters</a>
        <div class="filters-wrap">
            <p>What type of home are you looking for?</p>
            <div class="form">
                <div class="field">
                    <div class="input-container container-select">
                        <select name="price">
                            <option value="0">Price Range</option>
                            <option value="0">$0-$200,000</option>
                            <option value="0">$200,000-$400,000</option>
                            <option value="0">$400,000-$600,000</option>
                            <option value="0">$600,000-$800,000</option>
                            <option value="0">$1,000,000+</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="input-container container-select">
                        <select name="location">
                            <option value="0">Location</option>
                            <option value="0">Boulder</option>
                            <option value="0">Colorado Springs</option>
                            <option value="0">Denver</option>
                            <option value="0">Fort Collins</option>
                            <option value="0">Loveland</option>
                        </select>
                    </div>
                </div>
                <a href="#" class="button light-green">Apply Filters</a>
                <a href="#" class="button blue">Reset</a>
            </div>
        </div>
    </div>
</div>