.section.detail-brand-window {
    background: #f0f0f0;
    overflow: hidden;

    .container {
        @mixin tablet {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        margin: 0 auto;

        @media only screen and (max-width: 1080px) {
            @media only screen and (max-width: 904px) {
                max-width: 686px;
            }
        }
    }

    .left {
        float: none;
        width: auto;
        max-width: none;
        width: 100%;
        background: $white;

        @mixin desktop {
            order: 1;
            margin-right: 30px !important;

            @mixin column 1, 3;
        }
    }

    .right {
        float: none;
        width: auto;
        max-width: none;
        margin-right: 0 !important;
        width: 100%;
        position: relative;

        @mixin desktop {
            @mixin column 2,3;

            max-width: 100%;
            order: 2;
            height: auto;
        }

        .slider {
            overflow: hidden;
        }
    }

    .left {
        .text {
            color: black;
            background: white;
        }

        .title {
            padding: 5% 7.5%;

            h1 {
                color: white;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 5px;
                line-height: 33px;
            }

            a {
                text-decoration: none;
            }

            h3 {
                color: white;
                font-size: 16px;
                font-weight: 600;
                padding: 5px 0;
                letter-spacing: 1px;
                text-transform: none;
            }

            .location {
                font-size: 14px;
                text-transform: uppercase;
                opacity: 0.75;
            }

            .product-type {
                text-transform: none;
            }

            .community-name {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 18px;
                color: $white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .body {
            padding: 5% 5% 5% 10%;

            .plan-amenities {
                list-style: none;
                margin-bottom: 0;
                padding: 0;
                line-height: normal;
            }

            .button {
                display: block;
                margin: 30px auto;
                max-width: 200px;
                padding: 6px 30px;
                text-transform: uppercase;
                font-weight: 600;

                @media only screen and (max-width: 904px) {
                    margin: 20px 0 0;
                }
            }
        }
    }

    .slider {
        .overlay {
            /* Permalink - use to edit and share this gradient: http: //colorzilla.com/gradient-editor/#000000+0, 000000+100&0+75, 0.7+100 */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            /* stylelint-disable */
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0); /* IE6-9 */
            /* stylelint-enable */

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .slide {
            height: 100%;

            img {
                object-fit: cover;
            }
        }
    }

    .gallery-wrapper {
        position: relative;
    }

    .image-gallery li {
        overflow: hidden;
    }

    .image-thumbnails {
        display: inline-flex;
        position: absolute;
        bottom: 25px;
        right: 25px;

        li {
            border: 1px solid transparent;
            margin-right: 5px;
            width: 75px;
            height: 58px;
            overflow: hidden;
            display: inline-block;

            &:hover {
                border: 1px solid white;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                object-fit: none;
                object-fit: cover;
                object-position: bottom center;
                width: 100%;
                height: 100%;
            }
        }
    }

    .image-thumbnails li.current {
        border: 2px solid #7dd1e1;
    }

    .image-gallery-caption {
        padding: 1% 4%;
        padding-right: 110px;
        background: #559cbe;
        color: white;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 600;
        margin-top: -5px;
        width: 99.9%;
        position: absolute;
        bottom: 0;

        @mixin tablet {
            padding-right: 4%;
        }
    }

    .plan-amenities {
        li {
            font-weight: normal;
            font-family: Open Sans;
            text-transform: uppercase;
            font-size: 16px;
            display: flex;
            align-items: center;

            span {
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 5px;
            }

            .icon::before {
                font-size: 40px;
                padding-right: 10px;
                vertical-align: sub;
                color: #3f7f9d;
            }
        }
    }

    .plan-amenities .icon.icon-help {
        text-decoration: none;
    }

    .plan-amenities .icon.icon-help::before {
        font-size: 16px;
        vertical-align: super;
    }

    &.floorplan {
        background: #f0f0f0;

        .left .title {
            background: #3f7f9d;
        }

        .image-thumbnails li.current {
            border: 2px solid #7dd1e1;
        }

        .image-gallery-caption {
            background: #559cbe;
        }
    }

    &.model {
        .left .title {
            background: $green;
        }

        .image-thumbnails li.current {
            border: 2px solid $green_light;
        }

        .image-gallery-caption {
            background: $green;
        }
    }

    &.qmi {
        .left .title {
            background: #b8801c;
        }

        .image-thumbnails li.current {
            border: 2px solid $green_light;
        }

        .image-gallery-caption {
            background: #b8801c;
        }
    }
}

.section.neighborhood-brandwindow {
    .container {
        position: relative;
        display: flex;
        align-item: center;
        justify-content: center;

        @mixin desktop {
            padding: 100px;
            margin-top: 40px;
        }
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &,
        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .text {
        position: relative;
        background: rgba($purple_rgb, 0.85);
        text-align: center;
        width: 100%;

        @mixin desktop {
            max-width: 612px;
        }

        h1 {
            font-family: 'Open sans';
            font-size: 48px;
            font-weight: bold;
            line-height: 0.98;
            letter-spacing: -1.2px;
            text-align: center;
            color: #fff;
            margin: 15px 0 20px;

            @mixin desktop {
                font-size: 56px;
            }
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            color: #fff;
        }

        span {
            font-family: 'Open sans';
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
        }

        .status {
            font-family: 'Open sans';
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 3.5px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
        }

        .button {
            text-shadow: 1px 1px 0 #7d5d25;

            @mixin button #eeb34a;
        }
    }

    .header {
        padding: 30px;

        @mixin desktop {
            padding: 40px 80px;
        }
    }

    .nav {
        background: #95317f;
        padding: 25px 40px;

        @mixin clear;

        ul {
            list-style: none;
            margin: 0;

            @mixin desktop {
                display: flex;
                justify-content: center;
            }

            li {
                margin: 0 10px 10px;

                @mixin desktop {
                    margin: 0;
                    margin-right: 10px;
                }

                a.button {
                    margin: 0;
                    width: 100%;

                    @mixin button #eeb34a;
                }

                &:last-child {
                    @mixin desktop {
                        margin: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .button.coming-soon {
        position: absolute;
        top: 100%;
        margin: 0 auto;
        margin-top: -11px;
        left: 50%;
        margin-left: -127px;
        text-shadow: 1px 1px 0 #7d5d25;
    }
}

.section.brand-window {
    z-index: 1;

    .image,
    .title,
    h1,
    .body,
    .button {
        opacity: 0;
    }

    & + .section:not(.contact-us-modules) .container {
        @mixin tablet {
            padding-top: 75px;
        }

        @mixin desktop {
            padding-top: 150px;
        }
    }

    .container {
        position: relative;
        max-width: 100%;

        @mixin desktop {
            @mixin container;

            height: 415px;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        left: 0;

        img {
            width: 100%;
        }

        @mixin tablet {
            overflow: hidden;
            position: absolute;
            height: calc(100% + 100px);

            img {
                width: 100%;
            }
        }
    }

    .text {
        left: auto;
        z-index: 1;
        padding: 20px 15px;

        @mixin desktop {
            @mixin column 18, 24;
            @mixin offset -1, 12;
            @mixin offset -1, 24, column;
        }

        h1 {
            font-size: 32px;
            margin-bottom: 15px;
            color: $blue_light;

            @mixin tablet {
                font-size: 36px;
                text-shadow: 2px 0 0 $black;
                color: $white;
            }

            @mixin desktop {
                font-size: 46px;
            }
        }

        button {
            clear: both;
            display: block;
            margin: 20px 0;
        }

        .body,
        p {
            font-family: 'Open Sans';
            font-size: 18px;
            color: $gray_dark1;
            line-height: 36px;
            font-weight: 600;

            @mixin tablet {
                font-size: 24px;
                color: $white;
                text-shadow: 1px 0 0 $black;
            }
        }
    }
}

.section.brand-window-secondary {
    margin-bottom: 60px;

    .image {
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    .text {
        h1 {
            color: #fff;
            font-size: 36px;
            font-weight: 600;
            line-height: 1.2;
            margin: 0 0 15px;
        }

        p {
            color: #fff;
            font-family: 'Merriweather';
            font-size: 18px;
            font-style: italic;
            font-weight: 300;
            line-height: 1.4;
            margin: 0 0 15px;
        }
    }

    /* Begin overlay styles */

    .container {
        background-color: $blue;
        position: relative;
        max-width: none;
        text-align: center;
        width: 100%;
    }

    .image {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        /* Image overlay */
        &::before {
            content: '';
            display: block;
            background-color: $blue;
            opacity: 0.85;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .text {
        padding: 0 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        max-width: 620px;
        margin: 0 auto;

        h1 {
            margin: 0 0 25px;
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        }

        p {
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        }
    }

    @mixin tablet {
        .text {
            h1 {
                font-size: 46px;
                font-weight: 700;
                line-height: 1.2;
            }
        }
    }

    /* End overlay styles */

    &.layout-split {
        @mixin desktop {
            margin-top: 45px;

            .container {
                @mixin container;

                background-color: transparent;
                height: 375px;
                max-width: 1160px;
                display: flex;
                align-items: center;
            }

            .image {
                @mixin column 2,3;

                height: 100%;
                order: 2;
                border-left: 12px solid #fff;

                &::before {
                    display: none;
                }

                figure {
                    height: 100%;
                }

                &.objectfit {
                    img {
                        object-fit: cover;
                        object-position: 50% 50%;
                        height: 100%;
                    }
                }

                &.no-objectfit {
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: cover;
                    height: 100%;

                    img {
                        display: none;
                    }
                }
            }

            .text {
                @mixin column 1,3;

                min-height: 100%;
                position: relative;
                left: initial;
                right: initial;
                top: initial;
                transform: none;
                max-width: none;
                background-color: $blue;
                order: 1;
                padding: 0 15px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-align: left;

                h1 {
                    font-size: 36px;
                    text-shadow: none;
                }

                p {
                    font-size: 16px;
                    text-shadow: none;
                }
            }
        }

        @media only screen and (min-width: 1081px) {
            margin-top: 45px;
        }

        @mixin desktop-large {
            .text {
                padding: 0 30px;

                h1 {
                    font-size: 46px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    &.layout-overlay {
        @mixin desktop {
            height: auto;
            max-height: 445px;

            @mixin arrow $blue, 30px;

            .image {
                max-width: 1500px;

                /* Bottom fade-out gradient */
                &::after {
                    content: '';
                    display: block;
                    height: 45px;
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(63, 127, 157, 1) 100%);
                }

                figure {
                    width: 100%;

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        width: 250px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                    }

                    /* Left side fade-out gradient */
                    &::before {
                        left: -50px;

                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f7f9d+0,ffffff+100&1+0,0+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */

                        background: linear-gradient(to right, rgba(63, 127, 157, 1) 0%, rgba(63, 127, 157, 0.85) 50%, rgba(255, 255, 255, 0) 100%);
                    }

                    /* Right side fade-out gradient */
                    &::after {
                        right: -50px;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(63, 127, 157, 0.85) 50%, rgba(63, 127, 157, 1) 100%);
                    }
                }
            }
        }
    }
}

.section.brand-window-w-gradient {
    background-image: linear-gradient(to bottom, #dbdbd8, $light_gray);
    margin-bottom: 60px;

    @mixin arrow $light_gray, 26px;

    @mixin desktop {
        margin-bottom: 90px;
    }

    .container {
        position: relative;
        padding: 45px 15px;
        max-width: 100%;

        @mixin tablet {
            padding: 90px 0;
        }

        @mixin desktop {
            @mixin container;

            align-items: center;
        }

        @mixin desktop-large {
            height: 580px;
        }
    }

    .text {
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 42px;
            line-height: 1.2;
            letter-spacing: -1.2px;
            margin: 0 0 15px;
        }

        .body,
        p {
            font-family: 'Merriweather';
            font-size: 18px;
            font-style: italic;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: $gray_dark2;
        }

        p {
            margin-bottom: 15px;
        }

        .secondary {
            font-family: 'Open Sans';
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.3px;
            color: $purple;
            text-transform: uppercase;
        }

        @mixin tablet {
            max-width: 660px;

            h1 {
                font-size: 57px;
            }

            .body,
            p {
                font-size: 20px;
            }
        }
    }
}

.section.brand-window-404 {
    text-align: center;

    .image {
        background: url('../images/bw-404.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        width: 100%;

        @mixin tablet {
            height: 33vw;
            max-height: 450px;

            &::after {
                background: url('../images/bw-404-arrow-purple.svg') no-repeat left center;
                background-size: cover;
                bottom: 0;
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 27.5%;
            }
        }
    }

    .text {
        background: rgba(168, 166, 62, 0.85);
        display: inline-block;
        margin: 20vw 20px;
        padding: 20px;

        @mixin tablet {
            align-items: center;
            background: url('../images/bw-404-arrow-green.svg') no-repeat right center;
            background-size: cover;
            bottom: 0;
            display: flex;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 34.5%;
        }

        h1 {
            color: $white;
            font-size: 28px;
            line-height: 1.2;
            text-transform: uppercase;
            width: 100%;

            @mixin tablet {
                padding: 10px 3vw 0 20px;
            }
        }
    }
}
