.header#header {
    padding: 0;
    z-index: 2;
    position: relative;
    font-family: 'Open Sans';

    @mixin desktop {
        z-index: 102;
    }

    div.header-body {
        background: $white;
        position: relative;
        z-index: 3;
    }

    div.container {
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        @mixin desktop-large {
            padding: 15px 0;
        }

        @mixin desktop {
            padding: 15px 30px;
        }
    }
}

.home,
.page-id-181 {
    div.header-body {
        border-bottom: 10px solid $purple;
    }
}

/* style guide, homepage & 404 hide breadcrumbs */
.home,
.page-id-181,
.error404 {
    .breadcrumb-outer-wrapper {
        display: none;
    }
}

#logo {
    margin: 0.4rem;
    order: 2;
    margin-left: auto;

    .mobile {
        max-height: 75px;
    }

    @mixin desktop {
        order: 1;
        margin-left: 0;
    }
}

.menu-trigger#trigger {
    display: block;
    order: 1;
    position: relative;
    padding-left: 40px;
    font-size: 0.9em;
    color: $blue;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

    .open {
        display: none;

        .icon::before {
            float: right;
            margin-top: 0;
            margin-left: 10px;
            font-size: 34px;
        }
    }

    .closed {
        padding-right: 50px;

        &::before {
            position: absolute;
            top: 2px;
            width: 30px;
            height: 6px;
            left: 0;
            background: #fff;
            box-shadow:
                0 5px $blue,
                0 7px #fff,
                0 12px $blue,
                0 14px #fff,
                0 19px $blue;
            content: '';

            @mixin desktop {
                right: 0;
                left: auto;
            }
        }
    }

    &.open {
        .closed {
            display: none;
        }

        .open {
            display: block;
        }
    }

    @mixin desktop {
        order: 2;
        margin-left: auto;
        padding-left: 0;
    }
}
