*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.scroller {
    height: 100%;
}

.mp-pusher {
    position: relative;
    left: 0;
    height: 100%;
}

/* overlays for pusher and for level that gets covered */
#site-wrapper::after,
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
}

#site-wrapper.menu-open::after,
.mp-pusher::after,
.mp-level::after {
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

#site-wrapper.menu-open::after,
.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.mp-pusher,
.mp-level {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* --------------------------------------------
Mobile Styles
--------------------------------------------- */

.mp-menu {
    position: absolute; /* we can't use fixed here :( */
    top: 0;
    right: 100%;
    z-index: 1;
    width: 300px;
    height: 100vh;
    padding-top: 108px;
    backface-visibility: hidden;

    .icon-back {
        opacity: 0;
        transition: opacity 0.5s;
        padding-top: 15px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 3;
        color: #b3559f;
        text-align: center;
        font-family: 'Open sans';
        font-size: 10px;
        font-weight: bold;

        &::before {
            display: block;
            content: ' ';
            width: 0;
            height: 0;
            margin: 0 auto;
            margin-bottom: 3px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #b3559f;
        }
    }

    @mixin clear;

    a {
        font-family: 'Open Sans';
    }

    .icon::before {
        font-size: 42px;
        float: left;
        margin-right: 3px;
    }

    nav {
        position: relative;
        height: 100%;
    }

    .main-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $white;
        padding: 10px;
        display: flex;
        height: 110px;
        transition: all 0.5s;
        align-items: center;
        justify-content: center;

        img {
            width: 175px;
        }

        .icon-exit-circle::before {
            font-size: 32px;
            margin: 20px;
            color: $black;
            margin-left: 50px;
            margin-right: 0;
        }
    }

    .title + a {
        display: none;
    }

    a.overview {
        display: none;
    }

    .mp-level-open {
        overflow-x: visible;
    }

    [data-level='2'] {
        overflow-y: scroll;
    }

    .mp-level-overlay > .icon-back {
        opacity: 1;
    }

    .mp-level-overlay > ul > li > a {
        border: none;

        &:hover {
            background: none;
        }
    }
}

.mp-level {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $purple_light;

    .mp-level {
        transform: translateX(-100%);
    }
}

.mp-level::after {
    z-index: -1;
}

.mp-level.mp-level-overlay {
    cursor: pointer;
}

.mp-menu .our-neighborhoods {
    li:first-child {
        @mixin desktop {
            display: none;
        }
    }

    li > a {
        line-height: 25px;
    }
}

.mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > nav > .mp-level,
.mp-menu.mp-overlap > nav > .mp-level.mp-level-open {
    box-shadow: none;
    transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mp-menu h2 {
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 20px;
    color: $white;
    font-weight: bold;
    line-height: 45px;
    padding: 0.7em 1em 0.7em 1.8em;
}

.mp-menu.mp-overlap h2::before {
    float: left;
}

.mp-menu.mp-overlap h2 {
    text-align: left;
}

.mp-menu.mp-cover h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(0);
}

.mp-menu .container {
    display: block;
}

.mp-menu ul li > a {
    display: block;
    line-height: 45px;
    padding: 0.7em 1em 0.7em 1.8em;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    font-size: 18px;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s, box-shadow 0.3s;

    &::before {
        margin-right: 5px;
    }

    span {
        display: block;
        font-size: 0.88em;
        font-weight: normal;
    }
}

.mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
    line-height: 3.5;
}

.mp-level .container li {
    width: 100%;
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow:
        inset 0 -1px rgba(0, 0, 0, 0),
        inset 0 1px rgba(0, 0, 0, 0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.mp-back::after {
    font-family: 'linecons';
    position: absolute;
    content: '\e037';
    right: 10px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.3);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
    background: transparent;
    box-shadow: none;
    color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
    padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
    display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
    display: block;
}

/* --------------------------------------------
Desktop Styles
--------------------------------------------- */

@mixin desktop {
    #mp-menu {
        @mixin clear;

        width: 100%;
        height: auto;
        background: $white;
        position: absolute;
        order: 4;
        opacity: 0;
        left: 0;
        z-index: 101;
        top: 125px;
        padding: 20px 0;
        transform: none;
        transition: all 300ms;
        visibility: hidden;
        transform: translateY(-35px);
        border-top: 10px solid $purple;
        margin-top: -10px;

        &.open {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
        }

        h2 {
            padding: 0;
        }

        .main-title,
        .top-level {
            display: none;
        }

        .title {
            padding: 10px 0;
            border-bottom: 1px solid $blue;
        }

        a {
            text-decoration: none;
        }

        .mp-menu .container {
            display: flex;
        }

        .mp-level.container {
            & > ul {
                display: flex;
                flex-wrap: wrap;
            }

            & > ul > li {
                @mixin column 1,4;
                @mixin cycle 4;


                margin-bottom: 15px;

                &.our-neighborhoods {
                    display: flex;
                    height: 100%;

                    @mixin column 4,4;

                    .mp-level {
                        width: 100%;
                    }

                    li {

                        @mixin column 1,4;

                        @mixin desktop {
                            margin-right:30px;

                            &:nth-child(4n + 5) {
                                margin-right:0;
                            }
                        }

                        float: left;
                    }

                    a {
                        font-weight: bold;

                        span {
                            font-style: italic;
                            font-weight: normal;
                            display: block;
                        }
                    }
                }

                & a {
                    border: none;
                    line-height: normal;
                }

                & > a {
                    display: none;
                }

                &:nth-child(4) {
                    margin-right: 30px;
                }

                &:nth-child(6) {
                    margin-right: 0;
                }

            }
        }

        [data-level='2'] {
            overflow: visible;
        }

        .mp-level {
            position: relative;
            transform: none !important;
            background: none;

            &.container {
                padding: 0 !important;
            }

            a {
                padding: 5px 0 5px 15px;
                display: inline-block;
                color: $blue;
                box-shadow: none;
                font-size: 15px;
                position: relative;
                transform: translateX(-15px);
                width: calc(100% + 15px);

                $hover: #0baad4;

                transition: all 0.5s 0.25s;

                &.overview {
                    display: inline-block;
                    text-decoration: underline;
                    font-size: 12px;
                    font-weight: normal;
                    margin-left: 12px;
                    padding: 5px 0;
                    transform: translateX(0);
                    width: auto;

                    &:hover {
                        padding: 0;
                        transform: translateX(0);

                        &::before {
                            display: none;
                        }
                    }
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    transition: all 0.5s 0.15s ease;
                }

                &:hover {
                    background: none;
                    color: #2c657f;
                    transition: all 0.5s;
                    transform: translateX(0);
                }

                &::before {
                    height: calc(100% - 14px);
                    left: 0;
                    top: 7px;
                    width: 5px;
                    opacity: 0;
                    background: #2c657f;
                }

                &:hover::before {
                    opacity: 1;
                }

                span {
                    font-size: 0.8em;
                    white-space: nowrap;
                }
            }

            & > a {
                display: none;
            }
        }

        .our-neighborhoods,
        .our-homes,
        .lifestyle,
        .build-with-us,
        .about-us,
        .contact-us {
            .title {
                margin-bottom: 10px;
            }

            h2 {
                font-size: 22px;
            }
        }

        .our-neighborhoods {
            .title {
                border-color: $blue;
            }

            h2 {
                color: $blue;
                display: inline-block;
            }
        }

        .our-homes {
            .title {
                border-color: $purple;
            }

            h2 {
                color: $purple;
            }
        }

        .about-us {
            .title {
                border-color: $gold;
            }

            h2 {
                color: $gold;
            }
        }

        .build-with-us {
            .title {
                border-color: $gold;
            }

            h2 {
                color: $gold;
            }
        }

        .lifestyle {
            .title {
                border-color: $blue;
            }

            h2 {
                color: $blue;
            }
        }

        .contact-us {
            .title {
                border-color: $green;
            }

            h2 {
                color: $green;
            }
        }
    }
}

@mixin desktop-large {
    #mp-menu {
        .mp-level {
            a {
                font-size: 16px;

                span {
                    font-size: 0.88em;
                }
            }
        }
    }
}

