.pagination {
    &.simple {
        ul {
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        li{
            a {
                display:block;
                border:3px solid $blue;
                height:17px;
                width:17px;
                border-radius:50%;
                margin:5px;
            }
            &.current a {
                background:$blue_light;
            }
        }
    }
}