.section {
    position:relative;
    &.mega-features {
        @mixin arrow $blue, 26px;
        .container {
            text-align:center;
            background:$blue;
            padding:75px 50px;
        }
        .header {
            width:100%;
            text-align:center;
            h2 {
                font-size: 26px;
                font-weight: bold;
                line-height: 1.25;
                text-align: center;
                color: #ffffff;
                @mixin desktop{
                    font-size: 32px;
                }
            }
            .subtitle {
                font-size: 21px;
                font-weight: 600;
                font-style: italic;
                line-height: 1.9;
                letter-spacing: -0.2px;
                text-align: center;
                color: #ffffff;
            }
        }
        .features {
            width:100%;
            display:flex;
            flex-wrap: wrap;
            margin:30px 0;
            li {
                @mixin column 1,1;
                padding:0 20px;
                @mixin desktop {
                    @mixin column 1,3;
                }
                .icon {
                    color:$white;
                    font-size:60px;
                }

                .title {
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.7px;
                    text-align: center;
                    color: #ffffff;
                    text-transform:uppercase;
                    margin-bottom:15px;
                }
                .body {
                    font-family: Open Sans;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.33;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
    &.intro-text {
        .title,.body,.button {
            opacity:0;
        }
        background: $light_gray;
        text-align: center;
        @mixin arrow $light_gray, 26px;

        .container {
            padding:50px 15px;
            @mixin desktop {
                padding: 100px 0 100px;
            }
        }
        .text {
            @mixin desktop {
                @mixin offset -1, 12;
                @mixin column 10, 12;
            }
            img {
                max-width:100%;
            }
        }
        h2 {
            color: $blue;
            margin-bottom:25px;
            margin-bottom:25px;
            text-transform: capitalize;
            font-size: 24px;
            @mixin desktop {
                line-height:68px;
                font-size: 48px;
            }
        }
        .body {
            font-family: Merriweather;

            line-height:30px;
            font-size:18px;
            @mixin desktop{
                padding:0 150px;
            }
        }
    }
    &.cta-w-image {
        .container {
            padding:50px 15px;
            @mixin desktop {
                padding: 50px 0;
            }
        }
        .image {
            border-radius:50%;
            overflow:hidden;
            margin:0 auto;
            height:300px;
            width:300px;
            @mixin tablet {
                height:200px;
                width:200px;
            }
            @mixin desktop {

                margin-right:0px;
                margin-left:175px;
            }
            figure {
                display:block;
                width:100%;
                height:100%;
            }
            img {

                height:100%;
                width:100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        .text {
            text-align:left;

            @mixin tablet {
                @mixin column 5, 8;
                @mixin cycle 1;
                margin-left:auto;
            }
            @mixin desktop {
                text-align:left;


            }
        }
    }

    &.cta-w-gallery {
        overflow:hidden;
        .container {

            align-items: center;
            justify-content: center;
            @mixin desktop {
                padding:25px 50px;
            }
        }
        .text {
            text-align:left;
            padding:0 15px;
            @mixin tablet {
                @mixin column 8,12;
                float:left;
                order:1;
            }
            @mixin desktop {
                text-align:left;
                @mixin column 1,2;
            }
        }
        .mini-gallery {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom:0px;
            @mixin tablet {
                @mixin column 4, 12;
                float:right;
                order:2;
            }
            @mixin desktop {
                @mixin offset -1, 24;
            }
        }
    }
    &.cards {
        background: $light_gray;
        padding:75px 0 0px;
        @mixin arrow $light_gray, 26px;
        .card {
            .text{
                background: $light_gray;
                .body {
                    font-size: 16px;
                }
            }
            &:nth-child(odd){
                .text, .text h2{
                    color:$white;
                    background:$blue;
                }
                .button {
                    background:$white;
                    color:$blue;

                }

            }
            &:nth-child(even){
                .text, .text h2 {
                    background:$purple;
                    color:$white;
                }
                .button {
                    background: $white;
                    color: $purple;
                }
            }
            &:hover {
                &:nth-child(even){
                    .button {
                        @mixin hover_reversed $purple;
                    }
                }
                &:nth-child(odd){
                    .button {
                        @mixin hover_reversed $blue;
                    }
                }
            }
        }
    }
    &.featured-slider {
        overflow:hidden;
        .container {
            position:relative;
            padding:0px 0;
            max-width:none;
            @mixin tablet {

            }
            @mixin desktop {
                @mixin container;
                padding: 100px 0;
            }
        }
        .controls {
            display:none;
            @mixin desktop {
                display:block;
            }
            .previous, .next{
                position:absolute;
                top:50%;
                overflow:hidden;
                margin-top:-48px;
                z-index:11;
                a {
                    color:$white;
                    font-size:48px;

                    display:inline-block;
                    box-sizing:border-box;
                    text-align:center;
                    text-decoration: none;
                    text-shadow:1px 0 3px $black;
                    transition:all 250ms;
                    &:hover {
                        text-shadow:0px 0 5px $black;
                    }
                    .icon {
                        display:block;
                        height:auto;
                        width:auto;
                        padding:20px;
                        margin:0;
                    }
                }
            }
            .previous{
                left:25px;
            }
            .next{
                right:25px;
            }
        }
        .slider { position:relative; width:100%;}
        .slides {
            width:100%;
            position:relative;
            .slide {
                background-color:$blue;
                display:flex;
                left:100%;
                position:absolute;
                width:100%;
                align-items: center;
                justify-content: center;
                overflow:hidden;
                padding:20px;
                opacity:0;
                @mixin desktop{
                    padding:25px 50px;
                }
                &:nth-child(1){
                    left:0;
                    opacity:1;
                    position:relative;
                    @mixin desktop {
                        position:absolute;
                    }
                }
                &:hover {
                    .background {
                        filter:blur(0px) grayscale(0%) brightness(100%);
                    }
                    .color-overlay {
                        opacity:0;
                    }
                    .text {

                        .title {
                            text-shadow: 0px 0px 20px #000 !important;
                        }
                    }
                    .subtitle span {
                        background: $blue;
                        box-shadow: 15px 0 0 $blue, -15px 0 0 $blue;
                        text-shadow: none !important;
                    }
                    .button {
                        @mixin hover_reversed $blue;
                    }
                }
                .color-overlay {
                    position:absolute;
                    top:0px;
                    left:0px;
                    height:100%;
                    width:100%;
                    background:$blue_light;
                    opacity:0.6;
                    transition:opacity 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }
                .background {
                    position:absolute;
                    top:0px;
                    left:0px;
                    height:100%;
                    width:100%;
                    background-size:cover !important;
                    background-position:center !important;
                    filter:blur(5px) grayscale(100%) brightness(40%);
                    width:calc(100% + 20px);
                    height:calc(100% + 20px);
                    margin:-10px -10px;
                    backface-visibility: hidden;
                    transform: translateZ(0) scale(1.0, 1.0);

                    transition: filter 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }
                a {
                    text-decoration:none;
                    display:block;
                    with:100%;
                    color:$white;
                    &.full-width{
                        display:block;
                        height:100%;
                        width:100%;
                        position:absolute;
                        top:0px;
                        left:0px;
                        z-index:3;
                    }
                }
                .text {
                    width:100%;
                    color:$white;

                    .subtitle {
                        font-family:"Open Sans";
                        text-transform:uppercase;

                        margin-bottom:20px;
                        @mixin desktop {
                            font-size:32px;
                        }
                        span {

                            padding:10px 0;
                            transition:background 0.25s linear, box-shadow 0.25s linear;
                        }
                    }
                    .title {
                        h2 {
                            color:$white;
                            display:block;
                            font-size:18px;
                            @mixin desktop{
                                font-size:42px;
                            }
                        }
                    }
                    .title, .subtitle span {
                        letter-spacing:3px;
                        text-shadow: 1px 1px 0px #333;
                        transition:text-shadow 0.25s;
                        @mixin desktop {
                            margin-bottom: 20px;
                        }
                    }
                    .button {
                        background:$white;
                        color:$blue;
                        display:inline-block;
                    }
                }
                .overlay {
                    width:100%;
                    text-align:center;
                    position:relative;
                    z-index:3;
                    .icon {
                        text-shadow:2px 0px 0px #333;
                        display:block;
                        margin:0 auto;
                        font-size:48px;

                        transform:scale(0.65);
                    }

                }
            }
        }
    }/* end feature-slider */
    &.testimonial {
        background:$gold;
        .container {
            display:block;
            lost-utility: clearfix;
            padding:30px 15px;
            padding-bottom:0px;
            @mixin desktop {
                padding: 50px 0 0px;
            }
        }
        .text {
            float:left;
            font-style:italic;
            color:$white;
            font-family:"Open Sans";
            font-weight:600;
            font-size:26px;
            line-height:32px;

            @mixin desktop {
                @mixin column 6,8;
                font-size: 28px;
            }
        }
        .image {

            position:relative;
            float:right;
            width:100%;
            @mixin tablet {
                @mixin column 1,4;
            }
            img {
                float:right;
                mix-blend-mode: multiply;
                filter: brightness(1.1);
                width:100%;
            }
            .color-overlay {
                position:absolute;
                top:0px;
                left:0px;
                height:100%;
                width:100%;
                background:$gold;
                mix-blend-mode: color;
                transition:opacity 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
        }
        .name {
            display:block;
            margin-top:50px;
            color: #424217;
            font-weight: 600;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
    &.icon-grid {
        .container {
            padding:35px 0;
            @mixin desktop {
                padding:100px;
            }
            ul {
                display:flex;
                flex-wrap:wrap;
                width:100%;
                @mixin offset 1,24;
                @mixin offset -1,24;
            }
            li {

                @mixin row 2,4;
                @mixin column 2,4;
                @mixin cycle 2;
                @mixin desktop {
                    @mixin column 1,4;
                }
                &:last-child, &:nth-last-child(2) {
                    margin-bottom:0px;
                }
            }
            .image {
                background:$green;
                border-radius: 50%;
                padding:20px;
                width:90px;
                height:90px;
                display:block;
                margin:0 auto;
                margin-bottom:20px;
                transition:all 300ms  cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            .icon:before {

                font-size:48px;
                color:$white;
                font-weight:normal;
            }
            .text {
                width:140px;
                margin:0 auto;
                position:relative;
                transition: transform 300ms 75ms  cubic-bezier(0.175, 0.885, 0.32, 1.275);
                font-family: "Open Sans";
            }
            li {
                text-align:center;
            }
            a {
                text-decoration:none;
                color:$green;
                font-weight:600;
                transition: box-shadow 0.2s;
                &:hover {

                    .image {
                        @mixin hover $green;
                    }
                }
            }
        }
    }
    &.form-w-text {
        .container {
            background:$light_gray;
            padding:25px 15px;
            font-family: "Open Sans";
            @mixin desktop {
                padding: 50px 0;
                margin-top:50px;
            }
            .text {
                margin:0 auto !important;
                @mixin desktop{
                    @mixin column 10,12;
                    margin:0 auto !important;
                }
                p {
                    font-family: "Open Sans";
                }

            }
            .button {
                display:inline-block;
                clear:both;
                width:200px;
                margin:10px auto;
            }
            .form {
                display:none;
                width:100%;
                @mixin desktop{
                    @mixin column 10,12;
                    margin:0 auto !important;
                    & > div {
                        margin-bottom:0px;
                    }
                }
            }
            h2 {
                font-size:19px;
                @mixin desktop {
                    font-size: 24px;
                }
                color:$black;
            }
            .description {
                color:$black;
            }
            .gform_wrapper {
                margin:0;
            }
            .gform_wrapper div.validation_error {
                border:none;

            }
            .icon{
                float:left;
                margin-right:15px;
                display:none;
                @mixin desktop{
                    display:inline-block;
                }
            }
            .form {
                margin:0 auto;
                .gfield_error {
                    background:none;
                    border:none;
                    margin:0px;
                    .ginput_container {
                        margin-top:.375em;
                    }
                }
            }

            form {

                ul {
                    @mixin desktop {
                        display: flex;
                    }
                    li {
                        margin-right:20px !important;
                        @mixin column 12,12;
                        @mixin cycle 1;
                        margin:0 auto;
                        margin-right:auto !important;
                        .ginput_container{
                            background:$white;
                            border-bottom:3px solid $gray_medium2;
                        }
                        @mixin desktop {
                            &:first-child, &:nth-child(2n){
                                @mixin column 3,12;
                            }

                            &:nth-child(3n){
                                @mixin column 3.5,12;
                            }
                        }
                    }
                    label {
                        font-size:14px;
                        position:relative;
                        text-transform:none;
                    }
                    input, select {
                        width:100%;
                        border:none;
                        color:$gray_dark1;

                        min-height:40px;
                        line-height:28px;
                        padding:.313em 0;
                    }

                    select {

                    }
                    .ginput_container_select {
                        position:relative;
                        &:before, &:after {
                            display:none;
                        }
                        select {
                            padding:5px;
                            padding-right:50px;
                            height:40px;
                            appearance: normal;
                            position:relative;
                            z-index:3;
                            box-sizing:border-box;
                        }
                        &:before {
                            position:absolute;

                            content:" ";
                            display:block;
                            width: 0;
                            height: 0;
                            top:17px;
                            right:14px;
                            text-decoration:none;
                            border-bottom:none;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-top: 7px solid $white;
                            z-index:2;
                        }
                        &:after {
                            position:absolute;

                            content:" ";
                            display:block;
                            width: 40px;
                            height: 100%;
                            top:0px;
                            right:0px;
                            background:$gray_medium1;
                            text-decoration:none;
                            border:none;
                            z-index:1;
                            margin:0px;
                         }
                    }
                }
                input[type="submit"] {
                    margin:10px auto;
                    display:block;
                    width:100% !important;
                    @mixin desktop {
                        width:auto !important;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    &.coming-soon-get-updates {
        background:url('/wp-content/themes/bokka-wp-theme-child/assets/build/images/floorplan-background-faded.jpg') no-repeat;
        background-size:cover;
        background-position:center center;
        .container {
            align-items: center;
            text-align:center;
            padding:60px 0;
            @mixin tablet {
                padding: 120px;
            }

        }
        .title {
            margin-bottom:30px;
        }
        .text {
            margin:0 auto;
            @mixin desktop {
                width: 50%;
            }
        }
    }
    &.map-with-info {
        position:relative;
        overflow:hidden;
        .google-map {
            position:absolute;
            top:0;
            left:0;
            .map-marker-label {
                position: absolute;
                color: blue;
                font-size: 16px;
                font-weight: bold;
            }

        }
        .text {
            position:relative;
            background:$white;
            z-index:2;
            width:100%;
            margin:180px 15px 30px;
            @mixin desktop {
                margin:60px 0;
                @mixin offset -2,12;
                @mixin column 1,3;
            }
            .title {
                background:$blue;
                text-align:center;
                padding:10px;
                h3 {
                    font-size:22px;
                    font-weight:normal;
                    color:$white;
                }
            }
            .body {
                padding:30px;
                font-family:'Open Sans';
            }
            p {
                font-family:'Open Sans';
            }
            a {
                color:$blue_light;
            }
            h4 {
                font-size:18px;
                color:$black;
                tex-transform:uppercase;
            }
            .section {
                margin-bottom:15px;
            }
            .button {
                @mixin button $blue_light;
                display:block;
                background:$blue_light;
                margin-bottom:0;
                color:$white;
            }
        }
    }
    &.virtual-tour {
        background:$purple_light;
        text-align:center;
        iframe {
            width:100%;
            height:225px;
            @mixin desktop {
                height: 500px;
            }
        }
        .container {
            padding:30px;
            @mixin tablet {
                padding: 60px;
            }
        }
        h2 {
            display:block;
            width:100%;
            margin-bottom:30px;
            text-align:center;
            color:$white;
        }
        & + .floorplan-stats {
            .container {
                padding-top:0px;
            }
        }
    }

    &.floorplan-stats {
        background:$purple_light;
        @mixin arrow $purple_light, 26px;
        .container {
            padding:30px;
            @mixin tablet {
                padding:60px;
            }
        }
        ul {
            background:$white;
            display:block;
            @mixin clear;
            width:100%;
            padding:15px;
            text-align:center;
            display:flex;
            flex-wrap:wrap;
            @mixin desktop {
                padding:30px 60px;
            }
            li{
                font-size:18px;
                font-family:'Open Sans';
                display:flex;
                align-items:center;
                width:100%;
                color:$black;
                @mixin tablet {
                    @mixin column 1,2;
                    @mixin cycle 2;
                }
                @mixin desktop {
                    @mixin column 1,3;
                    @mixin cycle 3;
                }
                &, span {
                    text-align: left;
                }
                span {
                    display:inline-block;
                    font-weight:bold;
                    float:left;
                }
                i:before {
                    color:$purple;
                    font-size:32px;
                    margin-right:5px;
                }
            }
        }
        a {
            display:block;
            background:$purple;
            width:100%;
            color:$white;
            text-align:center;
            padding:15px 30px;
            font-family: 'Open Sans';
            text-decoration: none;
            text-transform: uppercase;
            font-weight:600;
            letter-spacing:1px;
            transition:all 0.25s;
            border-top:1px solid $purple;
            &:hover {

                color:$purple;
                background:$white;
            }
        }
    }
    &.osc-request-info {
         background:$purple;
        .container {
            padding:60px;
            align-items:center;
            display:flex;
            justify-content: center;
        }
        .osc {
            margin-right:30px;
        }
        .text {
            color:$white;
            font-family:"Open Sans";
            @mixin tablet {
                @mixin column 8,12;
            }
            @mixin desktop {
                @mixin column 5,12;
            }

            a, p {
                color:$white;
                font-family:"Open Sans";
            }
            .title h3 {
                font-size:24px;
                color:$white;
                text-transform:none;
                margin-bottom:10px;
            }
            a{
                font-size:18px;
                font-weight:bold;
                margin-top:10px;
                display:block;
            }
        }
    }
    &.alternating-content {
        .item {
            width:100%;
            padding:70px 30px;
            position:relative;
            display:flex;
            flex-wrap:wrap;
            @mixin desktop {
                padding:70px 60px;
            }
            .title {
                h2 {
                    font-size: 29px;
                    font-weight: bold;
                    line-height: 1.17;
                }
            }
            .body, .body p {
                font-size: 16px;
                font-weight: normal;
                line-height: 1.75;
            }
            .text {
                @mixin column 1,1;
                @mixin desktop {
                    @mixin column 2,5;
                }
            }
            .image {
                @mixin column 1,1;
                @mixin desktop {
                    @mixin column 3,5;
                }
                img {
                    max-width:100%;
                }
            }
            &:nth-child(odd){
                background:$white;
                @mixin arrow $white, 26px;
                .text {
                    order:1;
                    .title h2, .body, .body p {
                        color:$black;
                    }
                }
                .image {
                    @mixin desktop{
                        order:2;
                    }
                }
                .button {
                    @mixin button $blue_light;
                }
            }
            &:nth-child(even){
                background:$blue_light;
                @mixin arrow $blue_light, 26px;
                .text {
                    order:2;
                    margin-right:0;
                    .title h2, .body, .body p {
                        color:$white;
                    }

                }
                .image {
                    margin-right:30px;
                    order:1;
                }
                .button {
                    @mixin button_reversed $blue_light;

                }
            }
            &:last-child:after {
                display:none;
            }
        }
    }
}

.modal-content {
    p, .title {
        font-family: 'Open Sans';
    }
    .title {
        @mixin clear;
        font-size:24px;
        font-weight:bold;
        color:$black;
        margin-bottom:30px;
    }
    .text {
        float:left;
        order:1;
        margin-bottom:15px;
        @mixin desktop {
            @mixin column 7,12;
        }
        p {
            font-size:14px;
            line-height:normal;
        }
    }
    .image {
        order:2;
        @mixin desktop{
            @mixin column 5,12;
        }
        float:right;
        margin-right:0px;

        img {
            width:100%;
        }
    }
}


.section.tabbed-product-listings {
    @mixin desktop {
        padding: 60px 0 0;
    }
    .tabs, .tab-bodies, .tab-body {
        width:100%;
        position:relative;
        height:auto !important;
    }
    .tab-body > .title {
        position:relative;
        background:$purple;
        margin:0;
        padding:30px 0;
        @mixin arrow $purple, 26px;
        @mixin desktop {
            display:none;
        }
        h3 {
            color:$white;
            margin:0;
            padding:0;
        }
    }
    .container {
        align-items:center;
        justify-content: center;
    }
    .type {
        padding-top:40px;
        @mixin desktop {
            padding:60px 0 20px;
        }
    }
    .tab-links {
        border-bottom:solid 4px $purple;
        margin:0px;
        .tab {
            background: #d4d4d4;
            border:0;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.4px;
            text-align: center;
            a {
                color: #000000;
                text-transform:capitalize;
            }
            &:hover {
                background:$gray_dark1;
                a {
                    color: $white;
                }
            }
            &.active:hover {
                background:$purple_light;
            }
            &.active {
                background:$purple;
                a {
                    color:$white;
                }
            }
        }
    }
    h3{
        padding:0 30px;
        text-align:center;
        margin-bottom:30px;
    }
    .product-listing {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
        padding:30px;
        .product-item {
            margin-bottom:30px;
            @mixin column 1,1;
            @mixin tablet {
                @mixin column 1,3;
            }
            @mixin desktop {
                @mixin column 1,4;
            }
        }

    }
    .product-item {
        font-family:'Open Sans';

        a {
            text-decoration:none;
        }

        .image {
            width:100%;
            position:relative;
            img {
                width:100%;
                height:100%;
                display:block;
                object-fit:cover;
                object-position: center center;
            }
            .overlay {
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 43%, rgba(0,0,0,0.74) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,rgba(0,0,0,0.74) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,rgba(0,0,0,0.74) 100%);
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
            }
            .title {
                position:absolute;
                bottom:5px;
                width:100%;
                text-align: center;
            }
        }
        .stats {
            color:$white;
            padding:10px;
            ul {
                display:flex;
            }
            li {
                width:33.32999%;
                text-align:center;
                font-size: 19px;
                font-weight: normal;
                line-height: 1.05;
                text-align: center;
                color: #ffffff;
            }
            .label {
                font-size: 12px;
                font-weight: bold;
                line-height: 1.67;
                text-align: center;
                color: #ffffff;
                text-transform:uppercase;
            }
        }
    }
}

@keyframes scaleBounce {
    0%, 20%, 40%, 60%, 80% { transform: scale(1); }
    50%   { transform: scale(1.20); }
    100%  { transform: scale(1.15); }
}

.section.site-map{
    background:$blue;
    transition:all 0.45s linear;
    .container {
        position:relative;
        padding:60px 30px;
        @mixin desktop {
            padding:30px 300px 30px 100px;
        }
    }
    a {
        text-decoration: none;
        display:block;
        width:100%;
    }
    .title {
        text-align:center;
        width:100%;
        font-size: 24px;
        font-weight: 600;

        letter-spacing: 3px;
        color: #ffffff;
        font-family:'Open Sans';
        text-shadow: 1px 1px 2px #000000;
        text-transform:uppercase;
        text-decoration: none;
        @mixin desktop {
            line-height: 0.88;
            text-align:right;
        }

    }
    .image {
        position:relative;
        background-color: #b1e3ed;
        margin:0 auto;
        margin-bottom:15px;
        width:160px;
        height:160px;
        border:3px solid #ffffff;
        border-radius:50%;
        overflow:hidden;
        transition:transform 0.4s, border-width 0.2s, box-shadow 0.4s;
        @mixin desktop {
            z-index:10;
            position:absolute;
            top:50%;
            right:100px;
            margin-top:-80px;
        }
        img {
            width:100%;
            height:100%;
            object-fit:cover;
            object-position:0 0;
            opacity:0.75;
            filter:grayscale(100%);
            mix-blend-mode:multiply;
            transition:all 0.45s;
        }
    }

    &:hover {
        background:$blue_light;
        cursor:pointer;
        .image {
            transition:transform 0.4s, border-width 0.2s 0.2s, box-shadow 0.4s;
            transform:scale(1.25);
            border-width:7px;
            box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
            img {

                transition:all 0.45s;
            }
        }
    }
}


.section.coming-soon-map {
    .container {
        display:flex;

        padding:30px;
        min-height:100%;
        flex-wrap: wrap;
        @mixin tablet {
            padding:60px;
        }
        .text {
            display: flex;
            background:$gold;
            padding:30px;
            height:100%;
            margin:0px;
            order:2;
            @mixin desktop {
                padding:70px;
                order:1;
                width: calc(100% / 2);
            }

            .title h3 {
                font-size: 24px;
                font-weight: bold;
                line-height: 1.25;
                color: #ffffff;
                letter-spacing:normal;
            }
            .body {
                margin:20px 0;
            }
            .body * {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
                font-family:'Open sans';
            }
            .title h3, .body * {
                color:$white;
                text-transform:none;
            }
            .button {
                @mixin button_reversed $gold;
            }
        }
        .google-map-wrapper {
            height:250px;
            position:relative;
            background:$black;
            padding:10px;
            border:1px solid $gold;
            order:1;
            @mixin desktop {
                order:2;
                display: flex;
                height:auto;
                width: calc(100% / 2);
            }

        }
        .google-map {
            position:absolute;
            top:0;
            left:0;
            min-height:100%;
            height:100%;
            width:100%;
            display:flex;
        }
    }
}