<div id="{{id}}" class="section cards">
    <section>
        <div class="container">
            {{#each item}}
                {{item.title}}
                {{> molecules/blocks/card}}
            {{/each}}
        </div><!--/contianer-->
    </section>
</div><!--/cards-->