<div class="section coming-soon-get-updates">
    <div class="container">
        <div class="text">
            <div class="title"><h3>You found our latest</h3></div>
            <div class="body"><p>Floorplans are coming soon. Sign up now to be among the first to be notified when they're available.</p></div>
            <a href="" class="button modal-trigger" data-modal="modal-gform-3">Get Updates</a>
        </div>
    </div>
</div>