<div id="{{id}}" class="section form-w-text">
    <section>
        <div class="container">
            <div class="text">
                <div class="icon sprite icon-email-signup-icon"></div>
                <div class="title"><h2>{{title}}</h2></div>
                <div class="description">{{{description}}}</div>
            </div>
            <div class="form">
                {{{form}}}
            </div>
        </div>
    </section>
</div>
