<div id="{{id}}" class="section form-w-text">
    <section>
        <div class="container">
            <div class="text">
                <div class="icon sprite sprite-email-signup-icon"></div>
                <div class="title"><h2>{{title}}</h2></div>
                <div class="description">
                    <p>Including early access to pricing, new home plans and VIP events <a href="#email-signup-modal" data-modal="email-signup" class="modal-trigger">what’s this?</a></p>
                    <div id="email-signup-modal" class="modal-content">
                        <div class="email-signup">
                            <div class="title">Be first to know with our monthly newsletter</div>
                            <div class="text">
                                <div class="body">
                                    <p>At Boulder Creek Neighborhoods, we treat your inbox and your time with respect. Which means we will only send you emails when we have something important and relevant to share, such as a new model previews, exclusive event invitations and important updates about the community and homes.</p>
                                    <br>
                                    <p>You can expect about 1 email per month, and can easily opt out at any time.</p>

                                </div>
                            </div>
                            <div class="image">
                                <img src="/wp-content/themes/bokka-wp-theme/assets/build/images/email-preview.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                {{{form}}}
            </div>
        </div>
    </section>


</div>
