<div class="header" id="header">
    <div class="header-body">
        <div class="container">
            <a href="/" class="logo" id="logo">
                <img class="tablet desktop" src="/wp-content/themes/bokka-wp-theme/assets/build/images/bcn-logo.png" alt="" />
                <img src="/wp-content/themes/bokka-wp-theme/assets/build/images/bcn-logo-mobile.png" alt="" class="mobile">
                <!--Boulder Creek-->
            </a>
            <a href="#" id="trigger" class="menu-trigger">
                <div class="closed">
                    <span class="desktop">Explore the menu</span>
                    <span class="portables">Menu</span>
                </div>

                <div class="open">
                    <div class="desktop icon icon-exit-circle">Close</div>
                </div>
            </a>
        </div><!--/container-->
    </div>
</div><!--/header-->
