<div class="section map-with-info">
    <section>
        <div class="google-map-wrapper">
            <div class="google-map js-model-map"></div>
        </div>
        <div class="container">
            <div class="text">
                <div class="title">
                    <h3>Stop By For A Visit</h3>
                </div>
                <h4>Address</h4>
                <a href="">
                    2792 Club Lake Dr
                    Loveland, CO 80538
                </a>
                <h4>Hours</h4>
                <p>
                    Monday - Thursday: 10am - 6pm
                    Friday 1pm - 6pm
                    Sat 10pm - 6pm
                    Sun 11am - 6pm
                </p>
                <h4>Phone</h4>
                <a href="tel:">720-863-6850</a>
                <a href="" class="button"></a>
            </div>
        </div>
    </section>
</div>