<div id="{{id}}" class="section testimonial">
    <section>
        <div class="container">
            {{#with testimonial}}
            <div class="text">
                <p>
                    {{{post_content}}}
                    <span class="name">{{name}}</span>

                </p>
            </div><!--/text-->
            <div class="image">
                <figure>
                    <img src="/wp-content/themes/bokka-wp-theme/assets/build/images/woman.jpg" alt="" />
                </figure>
                <div class="color-overlay"></div>
            </div><!--/image-->
            {{/with}}
        </div><!--/container-->
    </section>
</div><!--/testimonial-->
