{{#if floorplan}}
    <div class="section floorplan-stats">
        <section>
            <div class="container">
                {{#with floorplan}}
                    {{> molecules/blocks/stats-list}}
                    <a href="{{permalink}}">View the {{post_title}} floorplan &raquo;</a>
                {{/with}}
            </div>
        </section>
    </div>
{{/if}}