<div class="alerts section">
    <div class="container">
        <div class="alert warning small">
            <div class="text">
                <div class="title">Warning!</div>
                <div class="body">Best Check yo self, you're not looking good.</div>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert success small">
            <div class="text">
                <div class="title">Heads up!</div>
                <div class="body">This Alert needs your attention, but it's not super</div>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert neutral small">
            <div class="text">
                <div class="title">Well done!</div>
                <div class="body">You successfully read this important alert</div>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert error small">
            <div class="text">
                <div class="title">Oh Snap!</div>
                <div class="body">Change few things up and try submitting again.</div>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert warning">
            <div class="text">
                <div class="title">Warning!</div>
                <div class="body">Change this and that and try again. <a href="">Duis mollis</a>, est non commodo luctus, nisi erat porttitor lgula, egat lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum</div>
                <a href="" class="button">Take this action</a>
                <a class="secondary-action" href="">Or do this</a>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert success">
            <div class="text">
                <div class="title">Heads up!</div>
                <div class="body">Change this and that and try again. <a href="">Duis mollis</a>, est non commodo luctus, nisi erat porttitor lgula, egat lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum</div>
                <a href="" class="button">Take this action</a>
                <a class="secondary-action" href="">Or do this</a>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert neutral">
            <div class="text">
                <div class="title">Well done!</div>
                <div class="body">Change this and that and try again. <a href="">Duis mollis</a>, est non commodo luctus, nisi erat porttitor lgula, egat lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum</div>
                <a href="" class="button">Take this action</a>
                <a class="secondary-action" href="">Or do this</a>
            </div>
            <a  href="" class="close icon icon-error-x"></a>
        </div>
        <div class="alert error">
            <div class="text">
                <div class="title">Oh Snap!</div>
                <div class="body">Change this and that and try again. <a href="">Duis mollis</a>, est non commodo luctus, nisi erat porttitor lgula, egat lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum</div>
                <a href="" class="button">Take this action</a>
                <a class="secondary-action" href="">Or do this</a>
            </div>
            <a href="" class="close icon icon-error-x"></a>
        </div>
    </div>
</div>