<div class="sg-titles">
    <h1>h1 - This is a main title</h1>
    <h2>h2 - This is a subtitle</h2>
    <h3>h3 - This is a section title</h3>
    <h4>h4 - This is a section subtitle</h4>
    <h5>h5 - This is a section subtitle</h5>
    <h6>h6 - This is a section subtitle</h6>
</div>