/*-------------------
------ Colors -------
-------------------*/
$blue:#3F7F9D;
$blue_light:#559CBE;
$teal:#7DD1E1;
$teal_light: #64B6CS;
$purple_light:#852e73;
$purple:#6D235D;
$gold:#b7801b;
$gold_dark:#9F6E15;
$cream:#F2EFCD;


$gray:#726558;
$light_gray:#f0f0f0;
$green:#A8A63E;
$white: #ffffff;
$black: #000000;


$gray_light1:#F5F7FA;
$gray_light2:#E6E9ED;
$gray_medium1:#CCD1D9;
$gray_medium2:#AAB2BD;
$gray_dark1:#656D78;
$gray_dark2:#434A54;

/*------------------------
------ Breakpoints -------
------------------------*/
$tablet:768px;
$desktop:992px;
$desktop-large:1200px;
