<ul class="sg-colors">


	<li>
		<span class="sg-swatch" style="background: #3F7F9D;"></span>
        <span class="sg-swatch" style="background: #559CBE;"></span>
        <div class="text">
            <span class="sg-label">Blue</span>
            #3F7F9D, #559CBE
        </div>
	</li>
    <li>
        <span class="sg-swatch" style="background: #7DD1E1;"></span>
        <span class="sg-swatch" style="background: #64B6C5;"></span>
        <div class="text">
            <span class="sg-label">Teal</span>
            #7DD1E1, #64B6CS
        </div>
    </li>
    <li>
        <span class="sg-swatch" style="background: #852E72;"></span>
        <span class="sg-swatch" style="background: #6D235D;"></span>
        <div class="text">
            <span class="sg-label">Purple</span>
            #852E72, #6D235D
         </div>
    </li>
    <li>
        <span class="sg-swatch" style="background: #A8A63E;"></span>
        <span class="sg-swatch" style="background: #898731;"></span>
        <div class="text">
            <span class="sg-label">Green</span>
            #A8A63E, #898731
        </div>
    </li>
    <li>
        <span class="sg-swatch" style="background: #B8801C;"></span>
        <span class="sg-swatch" style="background: #9F6E15;"></span>
        <div class="text">
            <span class="sg-label">Gold</span>
            #B8801C, #9F6E15
        </div>
    </li>
    <li>
        <span class="sg-swatch" style="background: #F5F7FA;"></span>
        <span class="sg-swatch" style="background: #E6E9ED;"></span>
        <div class="text">
            <span class="sg-label">Light Gray</span>
            #F5F7FA, #E6E9ED
        </div>
    </li>
    <li>
        <span class="sg-swatch" style="background: #CCD1D9;"></span>
        <span class="sg-swatch" style="background: #AAB2BD;"></span>
        <div class="text">
            <span class="sg-label">Mid Gray</span>
            #CCD1D9, #AAB2BD
        </div>
    </li>
    <li>
        <span class="sg-swatch" style="background: #656D78;"></span>
        <span class="sg-swatch" style="background: #434A54;"></span>
        <div class="text">
            <span class="sg-label">Dark Gray</span>
            #656D78, #434A54
        </div>
    </li>
</ul>