.section.form-basic {
    .container {
        padding: 30px 15px;
    }

    @mixin tablet {
        .container {
            padding: 60px 15px;
        }
    }

    @mixin desktop {
        .container {
            padding: 90px 0;
        }
    }

    .form {
        margin: 0 auto;
        max-width: 790px;
        width: 100%;
    }
}
