.section.location-listings {
    margin: 0 0 40px;

    .item {
        color: $gray_dark2;
        font-family: 'Open Sans';
        padding: 20px;
        width: 100%;

        &:nth-child(even) {
            background: $light_gray;
        }

        @mixin desktop {
            padding: 30px;
        }

        h2 {
            border-bottom: 2px solid $purple;
            font-size: 24px;
            margin: 0 0 18px;
            padding: 0 0 3px;

            a {
                color: $purple;
                display: block;
                text-decoration: none;
            }
        }

        .content {
            @mixin tablet {
                display: flex;
            }
        }

        .image {
            @media only screen and (min-width: 500px) {
                float: left;
                width: 45%;
            }

            @mixin tablet {
                float: none;
                width: 40%;
            }

            @mixin desktop {
                width: 25%;
            }

            img {
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                width: 100%;
            }
        }

        .body {
            @mixin tablet {
                padding: 0 0 0 20px;
                width: 60%;
            }

            @mixin desktop {
                display: flex;
                width: 75%;
            }
        }

        .contact-info {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.4;
            padding: 10px 0 0;

            @media only screen and (min-width: 500px) {
                float: right;
                padding: 5px 0 0 20px;
                width: 55%;
            }

            @mixin tablet {
                float: none;
                padding: 0;
                width: 100%;
            }

            @mixin desktop {
                width: 33%;
            }

            .address {
                display: flex;
            }

            .phone {
                margin: 0 0 20px;
            }

            .icon {
                color: $purple;
                display: inline-block;
                font-size: 1.6em;
                line-height: 1;
                vertical-align: top;
            }

            a {
                color: $blue;
                display: inline-block;
                vertical-align: top;
            }
        }

        .hours {
            clear: both;
            float: right;
            margin: 20px 0 0;
            width: 100%;

            @mixin tablet {
                clear: none;
                float: none;
            }

            @mixin desktop {
                margin: 0;
                padding: 0 0 0 30px;
                width: 45%;
            }

            .title {
                display: inline-block;
                font-weight: 600;
                vertical-align: top;
            }

            p {
                color: $gray_dark2;
                display: inline-block;
                font-family: 'Open Sans';
                line-height: 1.4;
                padding: 0 0 0 10px;
                vertical-align: top;
                width: calc(100% - 4em);
            }
        }

        .contact {
            @media only screen and (min-width: 500px) {
                clear: both;
            }

            @mixin tablet {
                clear: none;
                float: none;
            }

            @mixin desktop {
                margin: 0 0 0 30px;
            }

            .button {
                margin: 20px 0 0;

                @mixin desktop {
                    margin: 0;
                    white-space: nowrap;
                }
            }
        }
    }
}
