.section.virtual-tour {
    background: $purple_light;
    display: none;
    text-align: center;

    @mixin tablet {
        display: block;
    }

    iframe {
        height: 225px;
        width: 100%;

        @mixin tablet {
            height: 500px;
        }

        @mixin desktop {
            height: 700px;
        }
    }

    .container {
        padding: 30px;
        justify-content: center;
        text-align: center;

        @mixin tablet {
            padding: 60px;
        }
    }

    .button {
        margin: 40px 0 0;
    }

    h2 {
        color: $white;
        display: block;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    & + .floorplan-stats,
    & + .floorplan-description {
        .container {
            padding-top: 60px;

            @mixin tablet {
                padding-top: 0;
            }
        }
    }
}
