<div class="layout-wrapper">
	<form>
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" name="options[title]" value="{{options.title}}" placeholder>
		</div>
		<div class="form-group">
			Use this layout with a
			<select name="options[attached][][type]">
				<option value="post_type">Post Type</option>
				<option value="taxonomy">Taxonomy</option>
			</select>
			called
			<select name="options[attached][][type_id]">
				{{#post_types}}
					<option value="{{id}}">{{name}}</option>
				{{/post_types}}
			</select>
			<select name="options[attached][][type_value]">
				<option disabled selected value="null">Specific Post/Taxonomy (optional)</option>
				<option value="1"></option>
				<option value="2"></option>
				<option value="3"></option>
			</select>
		</div>
		<div class="layout">
			<div draggable="true" class="row">
				<div class="row-mover mover"></div>
				<div class="row-options"></div>
				<div class="columns">
				</div>
			</div>
			<div draggable="true" class="row">
				<div class="row-mover mover"></div>
				<div class="row-options"></div>
				<div class="columns">
				</div>
			</div>
		</div>
	</form>
</div>