
.sprite {
  background-image: url('../images/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite {
    background-image: url('../images/sprite@2x.png');
    background-size: 232px 395px;
  }
}

.sprite-breadcrumb_seperator {
  background-position: -0px -0px;
  width: 22px;
  height: 44px;
}
.sprite-bcn-logo-mobile {
  background-position: -0px -44px;
  width: 55px;
  height: 63px;
}
.sprite-bcn-logo {
  background-position: -0px -107px;
  width: 212px;
  height: 72px;
}
.sprite-email-signup-icon {
  background-position: -0px -179px;
  width: 76px;
  height: 76px;
}
.sprite-TheLakes {
  background-position: -0px -255px;
  width: 232px;
  height: 140px;
}
