{{> templates/models/model-brand-window }}
{{> organisms/feature-bar}}
{{> organisms/virtual-tour}}
<div class="section stats-list">
    <section>
        <container>
            {{> molecules/blocks/stats-list}}
        </container>
    </section>
</div>
{{> organisms/map-with-info }}